<script>
  window.onload = function() {
    if (window.jQuery) {
        // jQuery is loaded
        alert("Yeah! jQuery Works");
    } else {
        // jQuery is not loaded
        alert("jQuery not loaded");
    }
}
</script>

<div class="titleline">
  <h1>Welcome to The MIT Tech CMS</h1>
</div>

<p>Please sign in using the top-left link before you proceed. </p>
