.titleline
  %h1 Ready for publication

%h2 Homepage
%table.table
  %thead
    %tr
      %th #
      %th Created At
      %th Last Modified At
      %th Action
  %tbody
    - if !@pending_homepages.blank?
      - for h in @pending_homepages
        %tr
          %td= h.id
          %td #{time_ago_in_words h.created_at} ago
          %td #{time_ago_in_words h.updated_at} ago
          %td= link_to 'Publish', publish_homepage_path(h), method: :post
    - else
      %td{:colspan => "4"} There are currently no pending homepages to be published.
