<table class="year">
<tr>
<tr class="year"><th colspan="2" class="year">2017</th></tr>
<td id="keycell">
<table id="key"><tr><td><span id="issuekey">&#9632;</span>&nbsp;issue dates</td></tr><tr><td><span id="specialkey">&#9632;</span>&nbsp;special issues</td></tr></table>
</td>
<td class="year"><table class="month">
<tr><th colspan="7" class="month">February</th></tr>
<tr><td class="month dayname sun">S</th><td class="month dayname mon">M</th><td class="month dayname tue">T</th><td class="month dayname wed">W</th><td class="month dayname thu">T</th><td class="month dayname fri">F</th><td class="month dayname sat">S</th></tr>
<tr class="month"><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month wed">1</td><td class="month thu issue">2</td><td class="month fri">3</td><td class="month sat">4</td>
<tr class="month"><td class="month sun">5</td><td class="month mon">6</td><td class="month tue">7</td><td class="month wed">8</td><td class="month thu issue">9</td><td class="month fri">10</td><td class="month sat">11</td>
<tr class="month"><td class="month sun">12</td><td class="month mon">13</td><td class="month tue">14</td><td class="month wed">15</td><td class="month thu issue">16</td><td class="month fri">17</td><td class="month sat">18</td>
<tr class="month"><td class="month sun">19</td><td class="month mon">20</td><td class="month tue">21</td><td class="month wed">22</td><td class="month thu issue">23</td><td class="month fri">24</td><td class="month sat">25</td>
<tr class="month"><td class="month sun">26</td><td class="month mon">27</td><td class="month tue">28</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td>
</table>
</td>
</tr><tr>
<td class="year"><table class="month">
<tr><th colspan="7" class="month">March</th></tr>
<tr><td class="month dayname sun">S</th><td class="month dayname mon">M</th><td class="month dayname tue">T</th><td class="month dayname wed">W</th><td class="month dayname thu">T</th><td class="month dayname fri">F</th><td class="month dayname sat">S</th></tr>
<tr class="month"><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month wed">1</td><td class="month thu issue">2</td><td class="month fri">3</td><td class="month sat">4</td>
<tr class="month"><td class="month sun">5</td><td class="month mon">6</td><td class="month tue">7</td><td class="month wed">8</td><td class="month thu issue">9</td><td class="month fri">10</td><td class="month sat">11</td>
<tr class="month"><td class="month sun">12</td><td class="month mon">13</td><td class="month tue">14</td><td class="month wed">15</td><td class="month thu issue">16</td><td class="month fri">17</td><td class="month sat">18</td>
<tr class="month"><td class="month sun">19</td><td class="month mon">20</td><td class="month tue">21</td><td class="month wed">22</td><td class="month thu issue">23</td><td class="month fri">24</td><td class="month sat">25</td>
<tr class="month"><td class="month sun">26</td><td class="month mon">27</td><td class="month tue">28</td><td class="month wed">29</td><td class="month thu">30</td><td class="month fri">31</td><td class="month noday">&nbsp;</td>
</table>
</td>
<td class="year"><table class="month">
<tr><th colspan="7" class="month">April</th></tr>
<tr><td class="month dayname sun">S</th><td class="month dayname mon">M</th><td class="month dayname tue">T</th><td class="month dayname wed">W</th><td class="month dayname thu">T</th><td class="month dayname fri">F</th><td class="month dayname sat">S</th></tr>
<tr class="month"><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month sat">1</td>
<tr class="month"><td class="month sun">2</td><td class="month mon">3</td><td class="month tue">4</td><td class="month wed">5</td><td class="month thu">6</td><td class="month fri issue">7</td><td class="month sat">8</td>
<tr class="month"><td class="month sun">9</td><td class="month mon">10</td><td class="month tue">11</td><td class="month wed">12</td><td class="month thu issue">13</td><td class="month fri">14</td><td class="month sat">15</td>
<tr class="month"><td class="month sun">16</td><td class="month mon">17</td><td class="month tue">18</td><td class="month wed">19</td><td class="month thu issue">20</td><td class="month fri">21</td><td class="month sat">22</td>
<tr class="month"><td class="month sun">23</td><td class="month mon">24</td><td class="month tue">25</td><td class="month wed">26</td><td class="month thu issue">27</td><td class="month fri">28</td><td class="month sat">29</td>
<tr class="month"><td class="month sun">30</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td><td class="month noday">&nbsp;</td>
</table>
</td>
</tr></table>