<h1>Advertising at <em>The Tech</em></h1>
<div class="embedded-table-container">
  <table class="circulation">
    <tbody>
      <tr>
        <th colspan="2">Readership and Circulation</th>
      </tr>
      <tr>
        <td><strong>Students</strong></td>
         
        <td></td>
         </tr>
      <tr> 
        <td>Undergraduate </td>
         
        <td align="right"> 4,153 </td>
         </tr>
      <tr> 
        <td>Graduate </td>
         
        <td align="right"> 6,146 </td>
         </tr>
      <tr> 
        <td><strong>Total</strong></td>
         
        <td align="right"> 10,299 </td>
         </tr>
      <tr> 
        <td><strong><br />
             </strong></td>
         
        <td> </td>
         </tr>
      <tr> 
        <td><strong>Faculty</strong></td>
         
        <td align="right"> 1,009 </td>
         </tr>
      <tr> 
        <td><strong>Staff</strong></td>
         
        <td align="right"> 10,000 </td>
         </tr>
      <tr> 
        <td><strong><br />
             </strong></td>
         
        <td> </td>
         </tr>
      <tr> 
        <td><strong>Total Readership</strong></td>
         
        <td align="right">21,308 </td>
         </tr>
      <tr> 
        <td></td>
         
        <td> </td>
         </tr>
      <tr> 
        <td><strong>Copies Printed per Issue</strong></td>
         
        <td align="right">8,000 </td>
         </tr>
    </tbody>
  </table>
</div>
<% if @client_type_guess == :mit %>
  <p><i>It looks like you're visiting our page from MIT. 
	       Click <a href='adinfo.html?type=mit'>here</a> to find specific 
	       information for MIT advertisers.</i></p>
<% elsif @client_type_guess == :local %>
  <p><b><i>It looks like you're near MIT. 
	       Click <a class='underlinedLink' href='adinfo.html?type=local' class='underlinedLink'>here</a> to find specific 
	       information for local advertisers.</i></b></p>
<% end %>
<p>
  <b>For information on advertising in <em>The Tech</em>, please select the type of advertiser you represent:</b>
</p>
<ul>
  <li>
    <a href="./adinfo.html?type=mit"><strong>MIT Advertisers</strong></a> are any advertisers that are a part of MIT. Students and ASA-recognized groups should contact us directly. <br>
  </li>
  <li>
    <a href="./adinfo.html?type=local"><strong>Local Advertisers</strong></a> are any advertisers that are geographically close to MIT and not a national corporation. <br>
  </li>
  <li>
    <a href="./adinfo.html?type=nonprofit"><strong>Non-Profit Advertisers</strong></a> are advertisers that are legally non-profit organizations. <br>
  </li>
  <li>
    <a href="./adinfo.html?type=national"><strong>National Advertisers</strong></a> are any company that does not fall into the above categories. <br>
  </li>
  <li>
    <a href="./adinfo.html?type=recruiter"><strong>Recruiters</strong></a> are advertisers that are trying to hire an employee for their company. <br>
  </li>
</ul>
<p>All questions, including those about which advertiser category you belong to, should be directed to 
      <a href='mailto:"ads@tech.mit.edu"'><em>ads@tech.mit.edu</em></a>.
    </p>
<p>To learn more about <em>The Tech</em> and why you should advertise with us, please see our <a href='/about'>About The Tech</a> page.
