<h1>Advertising policies</h1>
<h2>Cancellations</h2>
<p>Display advertising canceled after deadline may, at the discretion of the
Advertising Manager, be subject to full charge. Canceled advertisements also
may be subject to a nominal service charge to cover composition and handling
costs.</p>
<h2>Deadlines</h2>
<p>Copy deadlines are on a Tuesday-Thursday system. All copy must be received by
4:30 P.M. (EST/EDT) three business days before the issue run date. All
advertisements must be accompanied by an email including size, run date(s),
billing information, and contact information.</p>
<h2>Editorial Rights</h2>
<p>No conditions, printed or otherwise, that conflict with the <em><em>The
Tech</em></em>'s policies will be binding on <em>The Tech</em>. All advertising
is subject to acceptance by <em>The Tech</em>, which reserves the right to
reject copy at its sole discretion. All advertisements must be clearly
identified by a trademark, or the words "Advertisement paid for by
[advertiser]" may be added. All advertisements designed by <em>The Tech</em>
are the property of <em>The Tech</em> and may not be reprinted without
permission.</p>
<h2>Errors</h2>
<p><em>The Tech</em> assumes no financial responsibility for typographical
errors in advertisements but will correct and reprint any advertisement whose
value has been affected by such errors. All corrections must be received three
business days before the next insertion or the advertisement will be subject to
a late fee. <em>The Tech</em> will make all reasonable efforts to see that
advertising is published as accepted, but <em>The Tech</em> will not be
responsible for any consequential damages resulting from failure to do so.
<em>The Tech</em> reserves the right to revise its advertising rates and other
specifications set forth in this ratecard at any time without prior notice.</p>
<h2>Tear Sheets</h2>
<p>Tear sheets are mailed on request within one week of publication. Requests
for additional tearsheets may incur a surcharge. PDF copies of all of our
issues are available on our website; these match exactly the print issues
except for the removal of certain syndicated content for which <i>The Tech</i>
does not have online distribution rights.</p>
<h2>Billing</h2>
<p><em>The Tech</em> reserves the right at any time to request payment in
advance or to cancel credit privileges at any time. Invoices are mailed within
a week of publication. Payment in full is due 30 days from the invoice date. If
payment is not made in accordance with <em>The Tech</em>'s credit terms,
<em>The Tech</em> may refuse to insert any further advertisements. Late payment
may be subject to a surcharge. Payment may be made in check form (made out to
“The Tech”) or by credit card on our secure website (<a href=
"http://tech.mit.edu/ads/payment.html">http://tech.mit.edu/ads/payment.html</a>).
Payments made by an MIT department or student group may be rendered through
transfer of funds between MIT accounts.</p>
<h2>ASA Groups</h2>
<p>All student groups recognized by the MIT Association of Student Activities
receive 80 column-inches of advertising space free of charge per academic year.
This space may be divided as desired into up to 8 separate ads. Due to
constraints in the layout of the paper, free advertisements may be subject to
shrinking, postponement, or cancellation, but for the most part free student
group advertisements run as originally placed. Color, typesetting, and late
surcharges are extra and are not covered by the free advertising service. Ads
that are free of charge will carry the text “This space donated by <i>The
Tech</i>.”</p>