<div class="embedded-calendar-container">
  <%= render 'frontend_static_pages/ads/calendar' %>
</div>
<h1>Publication Dates</h1>
<p>In general, <em>The Tech</em> publishes on Thursdays when class is in session. 
  For exceptions and other publishing dates, please see the calendar to the right.</p>
<h2>Special Issues and Dates</h2>

  	<ul>
  <li><i>Orientation:</i> <em>The Tech's</em> orientation issues are on August 22, August 26, and August 29.</li>
  <li><i>Back To School:</i> Classes start on September 3. <em>The Tech</em> publishes the day before, on September 2.</li>
  <li><i>Fall Career Fair:</i> The Fall Career Fair takes place on September 19.</li> 
  <li><i>Family Weekend:</i> MIT's family weekend 2014 is being held on October 24-25. <em>The Tech</em> publishes on October 24.</li> 
  <li><i>TBP Career Fair:</i> The Tau Beta Pi career fair is held on the first day of classes, February 3, 2015.
  <em>The Tech</em> publishes this day.</li> 
  <li><i>Spring Break:</i> MIT Spring Break 2015 is the week of March 23-27.</li> 
  <li><i>Campus Preview Weekend:</i> CPW is the preview weekend for admitted students. 
  Typically drawing over 1000 students, CPW 2015 takes place April 16-19. 
  The April 17 issue of <em>The Tech</em> is the best issue to take advantage of this opportunity.</li> 
  <li><i>Commencement:</i> <em>The Tech</em> publishes the day of commencement, making the issue a keepsake for thouands of graduates and their families. 
  Commencement 2015 takes place on June 5. </li> 
</ul>
<!-- Google Code for Publication Schedule Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1016704858;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "NCfnCNb0zwEQ2t7m5AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1016704858/?label=NCfnCNb0zwEQ2t7m5AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
