<h1>Publication Dates</h1>
<div class="embedded-table-container">
  <%= render 'frontend_static_pages/ads/calendar' %>
</div>
<p>In general, <em>The Tech</em> publishes on Thursdays when class is in session.
  For exceptions and other publishing dates, please see the calendar to the right.</p>
<h2>Special Issues and Dates</h2>

  	<ul>
          <li><i>Orientation:</i> <em>The Tech's</em> orientation issues are on August 23 and August 30.</li>
          <li><i>Back To School:</i> Classes start on September 5. <em>The Tech</em> publishes the day after, on September 6.</li>
          <li><i>Fall Career Fair:</i> The Fall Career Fair takes place on September 29.</li>
          <li><i>Family Weekend:</i> MIT's family weekend 2018 is being held on October 26-27. <em>The Tech</em> publishes on October 25.</li>
          <li><i>TBP Career Fair:</i> The Tau Beta Pi career fair, also known as xFair will be held at the beginning of February.
          <em>The Tech</em> publishes Thursday the weeks before and after the fair.</li>
          <li><i>Spring Break:</i> MIT Spring Break 2019 is the week of March 25-29.</li>
          <li><i>Campus Preview Weekend:</i> CPW is the preview weekend for admitted students and their parents.
          Typically drawing over 1,000 students, CPW 2019 takes place April 11-14.
          <em>The Tech</em> publishes a special edition on April 12 — this edition is the best to take advantage of the opportunity to reach thousands of admitted freshmen and their families.</li>
          <li><i>Commencement:</i> <em>The Tech</em> publishes the day of commencement, making the issue a keepsake for thousands of graduates and their families.
          Commencement 2019 takes place on June 7. </li>


</ul>
<!-- Google Code for Publication Schedule Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1016704858;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "NCfnCNb0zwEQ2t7m5AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1016704858/?label=NCfnCNb0zwEQ2t7m5AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
