<h1>Publication Dates</h1>
<div class="embedded-table-container">
  <%= render 'frontend_static_pages/ads/calendar' %>
</div>
<p>In general, <em>The Tech</em> publishes on Thursdays when class is in session.
  For exceptions and other publishing dates, please see the calendar to the right.</p>
<h2>Special Issues and Dates</h2>

  	<ul>
          <li><i>Orientation:</i> <em>The Tech's</em> orientation issues are on August 24 and August 31.</li>
          <li><i>Back To School:</i> Classes start on September 6. <em>The Tech</em> publishes the day after, on September 7.</li>
          <li><i>Fall Career Fair:</i> The Fall Career Fair takes place on September 29.</li>
          <li><i>Family Weekend:</i> MIT's family weekend 2016 is being held on October 27-28. <em>The Tech</em> publishes on October 26.</li>
          <!--TODO: NEED TO UPDATE ONCE WE HAVE SPRING PUB SCHEDULE -->
          <!-- <li><i>TBP Career Fair:</i> The Tau Beta Pi career fair, also known as xFair, is held during the first week of classes.
          <em>The Tech</em> publishes this week on February 8.</li>
          <li><i>Spring Break:</i> MIT Spring Break 2018 is the week of March 26-30.</li>
          <li><i>Campus Preview Weekend:</i> CPW is the preview weekend for admitted students.
          Typically drawing over 1000 students, CPW 2018 takes place April 12-15.
          The April 12 issue of <em>The Tech</em> is the best issue to take advantage of this opportunity.</li>
          <li><i>Commencement:</i> <em>The Tech</em> publishes the day of commencement, making the issue a keepsake for thousands of graduates and their families.
          Commencement 2018 takes place on June 8. </li> -->
</ul>
<!-- Google Code for Publication Schedule Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1016704858;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "NCfnCNb0zwEQ2t7m5AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1016704858/?label=NCfnCNb0zwEQ2t7m5AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
