<h1>Publication Dates</h1>

<div class="flex-container">

  <div>
    <%= render 'frontend_static_pages/ads/calendar' %>
  </div>

  <div>
    <p>In general, <em>The Tech</em> publishes every other Thursday when class is in session.
    For exceptions and other publishing dates, please see the calendar on this page.</p>
    <h2>Special Issues and Dates</h2>
    <ul>
        <li style="margin-bottom: 0.5em;"><b><i>First-Year Orientation:</i></b> Orientation is the best time to make a first impression upon new students as freshmen and new graduate students will form the consumption habits they will maintain for several years during this period. <em>The Tech</em> will print on August 27.</li>
        
        <li style="margin-bottom: 0.5em;"><b><i>Back to School:</i></b> Once all students have returned to campus and before the work starts piling up, is a good time for returning students to discover new clubs and activities. Our back to school issue is a good opportunity for clubs and sports to advertise their events to gain new membership.</li>
        
        <li style="margin-bottom: 0.5em;"><b><i>Family Weekend:</i></b> Family Weekend is a time for MIT families to discover MIT and all that the Institute has to offer. Each year, Family Weekend provides families the opportunity to interact with faculty and administrators to experience MIT culture first hand. This year's Family Weekend is being held from October 24&ndash;25. <em>The Tech</em> will publish on October 22.</li>
        
        <li style="margin-bottom: 0.5em;"><b><i>Independent Activities Period:</i></b> Between MIT's fall and spring semesters is the Independent Activities Period. Starting on January 4 and running until January 29, IAP is a time for students to explore interests that do not necessarily have an academic focus. They can take classes ranging from Japanese to Pottery Making, explore Boston, or take advantage of many other exciting opportunities. Regardless of what students choose to do, IAP is a period when students have the most free time to explore Cambridge and Boston.</li>
        
        <li style="margin-bottom: 0.5em;"><b><i>Year in Review:</i></b> Our February 4 issue will include the Year in Review, which is a compilation and reflection of all of our content from the previous year.</li>
        
        <li style="margin-bottom: 0.5em;"><b><i>Spring Break:</i></b> MIT's spring break, March 22&ndash;26, occurs at the midpoint of our spring semester. Spring break is a great time for students to escape the rigors and surroundings of MIT by traveling, spending money, and relaxing. Our last issue before spring break is March 18.</li>
        
        <li style="margin-bottom: 0.5em;"><b><i>April Fools:</i></b> <em>The Tech</em> will publish a special April Fools print edition on April 1. As tradition, this issue will only be available on campus, and not digitally.</li>
        
        <li style="margin-bottom: 0.5em;"><b><i>Campus Preview Weekend:</i></b> MIT's Campus Preview Weekend is an opportunity for newly admitted students to visit campus and experience MIT first-hand. This year's CPW will be held from April 15&ndash;18. <em>The Tech</em> will print on April 15.</li>
        
        <li style="margin-bottom: 0.5em;"><b><i>Commencement:</i></b> May 27 is the date for our full-color Commencement issue. This issue is a great keepsake for over 4,000 graduates and their families.</li>
    </ul>
  <div>

<div>

<!-- Google Code for Publication Schedule Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1016704858;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "NCfnCNb0zwEQ2t7m5AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1016704858/?label=NCfnCNb0zwEQ2t7m5AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
