<div class="row-editing-toolbar">
  <%= link_to 'Remove Entire Row', "javascript: window.homepage.remove_row('#{row[:uuid]}'); ", data: {confirm: 'Do you really want to remove this entire row? '} %>
</div>