<img src="<%= picture.content.url(:large) %>">
<figcaption>
  <span<%=raw @homepage_editing ? ' data-editable="caption"' : '' %>><%= caption %></span>
  <span class="attribution"><%= picture.image.attribution %></span>
</figcaption>