<ul>
  <% links.each do |p| %>
    <li>
      <a href="<%= p.frontend_display_path %>" class="headline"><%= p.article.headline %></a>
      <span class="byline"><%= p.article.updated_at.strftime('%b. %d, %Y') %></span>
    </li>
  <% end %>
</ul>