<h1 class="list-header"><%= @section.name %></h1>
<h2 class="list-count"><%= pluralize @count, 'article' %></h2>
<%= render 'frontend_pieces/article_list', articles: @articles %>
<%= paginate @pieces %>