= react_component "ArticleList", articles: articles.map { |a| a.as_react(current_ability) },    |
                                 fetch: local_assigns[:fetch],                                  |
                                 hideSearch: local_assigns[:hide_search],                       |
                                 rankSelect: local_assigns[:rank_select],                       |
                                 from_issues_page: local_assigns[:from_issues_page]
= react_component "TestComponent"