<div class="titleline">
  <h1>Articles</h1>

  <%= link_to new_article_path, class: 'btn btn-primary', data: { no_turbolink: true } do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Article
  <% end %>
</div>

<table class="table" id="articles_table">
  <thead>
    <tr>
      <th class="center">Section</th>
      <th class="center">Web Published?</th>
      <th class="center">Print Ready?</th>
      <th>Article</th>
      <th></th>
    </tr>
    <tr>
      <td colspan="6">
        <%= form_tag articles_path, method: :get, remote: true do %>
          <input id="keywords" name="q" type="text" placeholder="Filter by keyword or by issue (e.g., 'v134 n61')" class="form-control">
        <% end %>
      </td>
    </tr>
  </thead>
  <tbody>
    <%= render 'article_list', json_articles: @json_articles %>
  </tbody>
</table>
