<div class="titleline">
  <%= link_to authors_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_author_path(@author), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @author.name %></h1>
</div>

<% unless @articles.empty? %>
  <table class="table" id="articles_table">
    <thead>
      <tr>
        <th>Section</th>
        <th class="center">Web Published?</th>
        <th class="center">Print Ready?</th>
        <th>Article</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'articles/article_list', json_articles: @articles %>
    </tbody>
  </table>
<% else %>
  <p>No articles found by this author</p>
<% end %>
