@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), url(https://fonts.gstatic.com/s/merriweather/v8/RFda8w1V0eDZheqfcyQ4EJS3E-kSBmtLoNJPDtbj2Pk.ttf) format("truetype"); }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nv83cGrqhiQgWmjXfohD0fc.ttf) format("truetype"); }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Heavy"), local("Merriweather-Heavy"), url(https://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nhiBLUGiJKjUm8YRl1m2YZI.ttf) format("truetype"); }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url(https://fonts.gstatic.com/s/merriweather/v8/So5lHxHT37p2SS4-t60SlIA-TtqiIfiRnpStf9u3TIc.ttf) format("truetype"); }

#piece_container, .cke_editable {
  overflow-x: auto; }
  #piece_container h1, #piece_container h2, #piece_container h3, #piece_container h4, #piece_container h5, #piece_container h6, #piece_container p, .cke_editable h1, .cke_editable h2, .cke_editable h3, .cke_editable h4, .cke_editable h5, .cke_editable h6, .cke_editable p {
    font-family: 'Merriweather', serif; }
  #piece_container p, .cke_editable p {
    font-size: 17px;
    line-height: 1.7;
    margin: 15px 0 15px 0; }
    #piece_container p.correction, .cke_editable p.correction {
      color: red;
      font-weight: bold; }
  #piece_container header, .cke_editable header {
    text-align: center;
    margin-bottom: 20px; }
    #piece_container header h1, .cke_editable header h1 {
      font-size: 48px;
      line-height: 1.5; }
    #piece_container header #byline, #piece_container header #bytitle, #piece_container header #authors, .cke_editable header #byline, .cke_editable header #bytitle, .cke_editable header #authors {
      color: gray;
      font-weight: bold;
      margin: 0; }
  #piece_container .img, .cke_editable .img {
    display: block;
    width: 60%;
    margin: 20px auto 20px auto;
    overflow-x: auto; }
    #piece_container .img img, .cke_editable .img img {
      width: 100%; }
    #piece_container .img .caption, .cke_editable .img .caption {
      margin-top: 2px;
      margin-bottom: 0;
      font-size: 14px; }
    #piece_container .img .attribution, .cke_editable .img .attribution {
      font-size: 14px;
      color: #888;
      margin-top: 0;
      margin-bottom: 0; }
    @media (max-width: 992px) {
      #piece_container .img, .cke_editable .img {
        width: 100%; } }
    @media (min-width: 992px) {
      #piece_container .img.left, #piece_container .img[style*=left], .cke_editable .img.left, .cke_editable .img[style*=left] {
        float: left;
        margin-right: 20px;
        margin-top: 0;
        margin-bottom: 0; }
      #piece_container .img.right, #piece_container .img[style*=right], .cke_editable .img.right, .cke_editable .img[style*=right] {
        float: right;
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 0; } }
