
<h1>Comments Policy</h1>

<p><i>The Tech</i> invites our readership to post comments on the articles on this website. We hope to engage the MIT Community and others outside of the community who care about our affairs, and to be a place of civil, thoughtful debate.</p>

<p><strong>Good comments</strong> add to civil discussion. They are relevant to the article upon which the post is created. They are more substantial than a single exclamation. We would like to see a variety of viewpoints expressed concisely and politely, which add dimension to the story or raise important questions.</p>

<p>Observe the following while posting:</p>
<ul>
<li>Be substantive</li>
<li>Stay on topic</li>
<li>Write in English</li>
<li>No personal attacks</li>
<li>No spam or commercial promotion</li>
<li>No obscenity</li>
<li>No markup or programming code</li>
<li>Don't ask for contact information or make administrative/editorial requests; see <a href="contact.html">here</a></li>
</ul>

<p>The comments posted on <i>thetech.com</i> are written by individuals and represent the opinion of the author, not necessarily that of <i>The Tech</i>. Once submitted, all comments become property of <i>The Tech</i>.  By posting, you give <i>The Tech</i> permission to republish or otherwise distribute your comments in any format or other medium. <i>The Tech</i> reserves the right to edit or remove any comments from <i>thetech.com</i> at its sole discretion.</p>

<h2>Moderation</h2>

<p>Comments go live on our website as soon as the commenter visits a link sent to them via email. There is a "Report Inappropriate Comment" link next to each comment, and we encourage readers to report comments that do not add to civil debate.</p>

<h2>Names</h2>

<p>The name field is not checked for validity. We strongly encourage individuals to take ownership of their comments and post their real, full name. Accountability is a part of civil debate. We realize there is value in anonymity in certain cases, and we allow for that. Please use the "Anonymous" checkbox, and use this privilege rarely, responsibly, and only to enrich debate about sensitive issues. <strong>Exception:</strong> All members of <i>The Tech</i> are expected to use their full names as they appear on the newspaper masthead. Authors who are not members of <i>The Tech</i> are expected to use their full names as they appear in the byline when commenting on their own articles.</p>

<h2>"Can I criticize <i>The Tech</i>?"</h2>

<p> Absolutely, as long as your criticism is presented in a civil way. We read the comments and constructive criticism will improve us. Baseless criticism helps no one and doesn't contribute to the debate.</p>

<h2>What we store</h2>

<p>Besides the publicly visible information, we also keep removed comments, the email address of the poster, and their IP address. We will release this information if compelled by law enforcement.</p>
