<h1>Copyright and Distribution</h1>
<p>Articles and letters appearing in <i>The Tech</i> are copyright <i>The
Tech</i> 1881–<%= DateTime.now.year %>. They may be freely distributed electronically provided
that they are distributed in their entirety and include the following notice:</p>
<blockquote>This article originally appeared in The Tech, issue ## volume ##.
It may be freely distributed electronically as long as it includes this
notice but cannot be reprinted without the express written permission of
The Tech. Write to archive@tech.mit.edu for additional details.</blockquote>
<p>For information on reprinting articles, please contact
  <i>The Tech</i>'s archiving team at <A HREF="mailto:archive@tech.mit.edu">archive@tech.mit.edu</A>.</p>
<p>Copyrights to photographs appearing in <span style="font-style: italic;">The Tech</span>, on our website, or derivative works thereof, belong to their respective photographers.
For information on reprinting protographs, please contact
  <span style="font-style: italic;">The Tech</span>'s Photography Department at <A HREF="mailto:photo@tech.mit.edu">photo@tech.mit.edu</A>.</p>
<p>Articles appearing in our "World and Nation" section are
reprinted here through an agreement with the New York Times News
Service. Such articles can be identified by their byline. The
copyrights for these articles are owned by the newspapers that published
them. They may not be redistributed without the permission of that paper
or the New York Times News Service.</p>
<p>Articles in our "World and Nation" section dated before spring 2003 were reprinted through an agreement with
the LA Times-Washington Post News Service, and copyrights for these articles
are retained by the newspapers that printed them. These articles
may not be redistributed without the permission of the paper that
printed them or the LA Times-Washington Post News Service. For further information, contact <A HREF="mailto:latwp@newsservice.com">latwp@newsservice.com</A>.
</p>
