

<h1>Support <i>The Tech</i></h1>

<p><i>The Tech</i> is an entirely self-sustaining organization, receiving no financial support from MIT. This is great from a journalistic perspective, though can make for some tough times when advertising revenues decline.</p>

<p>By donating to <i>The Tech</i>, you support our all-volunteer staff and help preserve the history of MIT. Your donation will:</p>

<ul>
<li><b>Preserve MIT's history</b> &mdash; Almost every issue of <i>The Tech</i> (since 1881) is <a href="https://thetech.com/issues">available online</a>. Where else can you go to figure out what happened your freshman year? Help us improve our archives with higher-resolution scanning and optical character recognition technology.
<li><b>Cover reporting expenses</b> &mdash; Modern journalism is costly and goes far beyond the simple notepad and pen. Today we need to pay to obtain court documents, file Freedom of Information Act requests, etc. Help us to keep reporting on all the events at MIT.
<li><b>Keep us financially independent</b> &mdash; <i>The Tech</i>'s financial independence gives us the freedom to report on any issue at MIT.

<a class="btn-donate" href="https://giving.mit.edu/form/?fundId=2898700">Give Now</a>

<p>Note that your donation is tax deductible and secure through the MIT Alumni Fund. If you have any questions, would like to earmark your donation for a specific Tech department, or would like to make an in-kind donation, please e-mail us at <a href="mailto:tt-general@mit.edu">tt-general@mit.edu</a>.</p>

