<h1>About The Tech</h1>

<p><i>The Tech</i> is MIT's oldest and largest newspaper. We have provided MIT faculty, staff, and students with continuous news service since 1881. We publish Thursdays during the regular school year and monthly during the summer.</p>
<p>The Tech is published by the students of the Massachusetts Institute of Technology. Our staff is composed of undergraduate and graduate student volunteers, although a number of alumni lurk around our offices from time to time.</p>
<p>The Tech is also financially independent of MIT; we are supported only by advertising revenues and <a href="/about/donate">donations</a>.</p>

<a name="policies"></a>
<h2>Policies</h2>
<ul>
	<li><a href="/about/opinion_policy">Opinion policy</a></li>
	<li><a href="/about/comments">Comments policy</a></li>
	<li><a href="/about/unpublish">Unpublish policy</a></li>
	<li><a href="/about/copyright">Copyright and distribution</a></li>
</ul>
