
<!-- There used to be a random housead here -->

 <h1>Contributing to The Tech</h1>
 
 <p> The Tech has a number of writing departments (News, Opinion, Arts,
 Campus Life, and Sports) as well as a few non-writing departments
 (Photography, Production, Business, and Technology). You're welcome to
 become involved in any of these departments, or mix and match.
 To get started, simply e-mail <strong><a href="mailto:join@tech.mit.edu">
 join@tech.mit.edu</a></strong> telling us who you are and what you're interested in doing.</p>
  
 <p><strong>News:</strong> If you're interested in interviewing people and doing some
 reporting, this is the department for you! We'd like to think that we
 cover interesting stories that the MIT community wouldn't hear about
 otherwise. Occasionally, we even break news that other, larger
 newspapers will pick up. (For example, <a href="/V128/N25/whoi.html">
 Government Declares Some Grad Students Are 'Security Threats'</a>
 was picked up by the New York Times.)</p>
  
 <p><strong>Opinion:</strong> Includes MIT topics and current events.
 Over the years, our Opinion section has been an important forum for
 campus discussion, though lately we've had a shortage of steady
 columnists. If you're interested in this department, we would love to
 have you.</p>
  
 <p><strong>Arts:</strong> Mostly reviews of movies, exhibits, concerts, albums, books, and
 restaurants. We also publish interviews with actors, authors, etc., and
 we may be able to set up those kinds of interviews through our press
 contacts if you're interested. (And we'll reimburse your movie ticket
 or restaurant tab!)</p>
  
 <p><strong>Campus Life:</strong> Currently includes first-person columns about almost any
 topic. This section is ever-changing and pretty flexible, so we'd love
 to hear your ideas on how to make it more interesting and compelling.
 Cartoonists are also a part of the Campus Life Department.</p>
  
 <p><strong>Sports:</strong> We cover both MIT and local sports teams.
 Writers are also welcome to write sports columns. It is impressive how wide 
 an audience our columns reach; so many people with no affiliation to MIT 
 write in letters commenting on them.</p>
  
 <p><strong>Photography:</strong> Pretty self-explanatory. We have high quality,
 professional digital photo equipment that you get to play with. Additionally, we have 
 a complete functioning darkroom with the ability to process both black and white 
 and full color.</p>
  
 <p><strong>Production:</strong> The production team is a tight-knit group that lays out
 the newspaper, designs infographics and makes all the other departments look good.
 Production is where everything gets put together to be proudly displayed to the 
 entirety of campus the next day.</p>
  
 <p><strong>Business:</strong> The Tech is financially independent from MIT. We pay all our
 printing costs through advertising, which is handled by the Business
 Department.</p>
  
 <p><strong>Technology:</strong> The Technology Department literally keeps The Tech up and
 running. We have about 25 Macs that need to communicate with several servers in order
 to produce every issue. We're looking to automate as many things as possible in 
 addition to constantly improving one of the first 100 sites on the World Wide Web.
 Most technology work can be done on your own time rather than a set schedule.</p>

 <p><strong>Online Media:</strong> The Online Media Department is made up of interactive designers, 
 bloggers, videographers, social media specialists, and audiophiles. We explore new mediums of 
 journalism and strive to bring journalism into the 21st century. We are The Tech's newest department 
 and have a lot of freedom to take on leadership and new projects.</p>
  
 <p>To become a member of the staff (i.e. be listed on the <a href="/about/staff.html">masthead</a> and be
 eligible for the staff retreat, banquet, and other perks), you must
 write three stories (or take three photos or help out with production
 for three nights). The magic number is three for most of the
 departments. No experience is necessary with any department, we are happy to 
 teach you all you need to know. Just e-mail 
 <strong><a href="mailto:join@tech.mit.edu">join@tech.mit.edu</a></strong></p>
