/* CSS for The Tech's Masthead */

div.exec { 
  text-align: center;
  font-size: larger;
  margin-top: 1em;
  margin-bottom: 1em;
}
 
div.exec h2 {
  font-size: inherit;
  font-weight: bold;
  margin-bottom: 0;
}
 
div.department {
  margin-top: 1em;
  margin-bottom: 1em;
}
 
div.department h2 {
  font-size: smaller;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 0;
  border-bottom-width: thin; 
  border-bottom-width: 1px; /* IE makes "thin" too thick */
  border-bottom-style: solid;
}
 
div.department div {
  margin-top: 0.25em;
  text-align: justify;
}
 
p#bottom-matter {
  margin-top: 1em;
  padding-top: 0.25em;
  border-top-width:thin;
  border-top-width: 1px; /* IE makes "thin" too thick */
  border-top-style: solid;
  font-size: smaller;
  text-align: justify;
}
