
<h1>Opinion Policy</h1>

<h2>Management</h2>
<p>The Opinion department is collectively managed by the Editorial Board of <i>The Tech</i>, which consists of the Publisher, Editor-in-Chief, Managing Editor, Executive Editor, and Opinion Editor.</p>

<h2>Editorials</h2>
<p>Editorials are the official opinion of <i>The Tech</i>. They are written by the Editorial Board.</p>
<p>Dissents are the opinions of signed members of the editorial board choosing to publish their disagreement with the editorial.</p>

<h2>Staff Submissions</h2>
<p>Staff columns express a particular opinion on campus-relevant matters.</p>
<p>Cartoons are hand-sketched graphics expressing a particular opinion through hyperbole and satire.</p>
<p>Columns and cartoons are created by individuals and represent the opinion of the author, not necessarily that of the newspaper.</p>

<h2>Guest Submissions</h2>
<p>A Guest Submission, which may be designated as either a Guest Column or a Letter to the Editor, may be written and submitted by any member of the MIT community.</p>
<p>Guest Columns express a particular opinion on campus-relevant matters; and a Letter to the Editor is an open letter addressed directly to the “Editor,” in reference to a particular opinion expressed by <i>The Tech</i> through an Editorial or a Staff Opinion or to a particular piece or set of pieces published.</p>
<p>Electronic submissions are encouraged and should be sent to <a href="mailto:tt-opinions@mit.edu" target="_blank">tt-opinions@mit.edu</a>. Hard copy submissions should be addressed to <i>The Tech</i>, P.O. Box 391529, Cambridge, Mass. 02139-7029, or sent by interdepartmental mail to Room W20-483. Electronic submissions will be prioritized over hard copy submissions. All submissions are due on Thursday two weeks before the date of publication (i.e. by the publication prior to the target publication).</p>

<h2>Submission</h2>
<p>All submissions must be made to the Opinion Editor with the following items:</p>
<ol>
  <li>The full name of the author(s) as it shall be published</li>
  <li>The full manuscript of the opinion piece</li>
  <li>A list of citations for sources used</li>
  <li>A brief biography of the author, including their past and present affiliations with MIT and the purpose or context of their submission</li>
</ol>
<p>In cases when a submission is made on behalf of a group, there must be a designated
signatory (e.g. Jane Doe, on behalf of <i>The Tech</i>). Articles penned under anonymity or
under a pseudonym shall be immediately rejected. Submissions published elsewhere
or which shall be reprinted by the author outside of <i>The Tech</i> shall be automatically
rejected. All submissions must be written solely for publication in <i>The Tech</i>. All
submissions shall be fact-checked by the Editorial Board or the corresponding
Officership designate throughout the editorial process. Unverified facts are considered
grounds for rejection. Corrections may be issued after publication, but writers are
ultimately responsible for the accuracy of their own pieces. For consideration in a
particular issue, the submission must be made at least two weeks prior to the date of
publication thereof.</p>

<h2>Rejection</h2>
<p>The Editorial Board, with the concurrence of the Publisher, the Editor-in-Chief, and
the Opinion Editor, reserves the right to reject any and all Guest Submissions on any
and all of the following bases:</p>
<ol>
  <li>One or more of the required items for submission is missing, such as the absence of a clearly-designated individual signatory</li>
  <li>The submission lacks novelty in context to previously published Opinion pieces</li>
  <li>The submission lacks an appropriate and cohesive opinion on a campus-relevant matter</li>
  <li>The submission or the author does not adhere to community standards and proper journalistic ethics</li>
  <li>The submission asserts unverified or contested facts without clarity or context</li>
</ol>
<p>The Editorial Board may also reject a Guest Submission at its discretion by unanimous
decision. In addition, the Editorial Board reserves the right to retract any published
Guest Submissions by unanimous decision should it find that the corresponding
author or group fails to adhere to community standards in a context relevant to the
published piece.</p>
