
<h1>Opinion Policy</h1>

<p>The following information appears on page 4 of each issue of <span
  style="font-style: italic;">The Tech</span>:

<p><strong>Editorials</strong> are the official opinion 
of <i>The Tech</i>. They are written by 
the editorial board, which consists of Chairman Will Conway, Editor in
Chief Leon Lin, Managing Editor Anthony Yu, Executive Editor Tushar Kamath, and Opinion Editor Claire Lazar.</P>

<p><strong>Dissents</strong> are the opinions of 
signed members of the editorial board choosing to publish their disagreement
with the editorial.</p>

<p><strong>Letters to the editor, columns,</strong>
and <strong> editorial cartoons</strong> are written
by individuals and represent the opinion of the author, not necessarily
that of the newspaper. Electronic submissions are encouraged and should be
sent to <span style="font-style: italic;">letters@tech.mit.edu</span>. 
Hard copy submissions should be addressed to The Tech, P.O. Box 397029, 
Cambridge, Mass. 02139-7029, or sent by interdepartmental mail to Room 
W20-483.  All submissions are due by noon two days before the date of
publication.</p>

<p>Letters, columns, and cartoons must bear the authors' signatures, 
addresses, and phone numbers. Unsigned letters will not be accepted. 
<i>The Tech</i> reserves the right to edit
or condense letters; shorter letters will be given higher priority. Once 
submitted, all letters become property of <i>
  The Tech</i>, and will not be returned.  Letters, columns, and 
  cartoons may also be printed on <i>The 
  Tech</i>'s Web site and/or printed or published in any format or 
  other medium now known or later that becomes known. <i>The Tech</i> makes no commitment to 
publish all the letters received.</p>

<p><strong>Guest columns</strong> are opinion articles
submitted by members of the MIT or local community and are tagged with "guest 
column." Columns with "staff columnist" below the byline are written by <i>Tech</i> staff.</p>

