
<h1>Publication Schedule</h1>

<p><i>The Tech</i> is published every other Thursday during the school year. We publish every other week in January and monthly 
during the summer. See our 
<a href="/ads/schedule">Business Department's</a> detailed 
publication schedule for more information.</p>

<p> The submission deadline for letters to the 
editor is 4:30 p.m. two days before an issue is published (Tuesday during most of the year). The submission deadline for advertising
can be found on our <a href="//tech.mit.edu/ads/policies.html">advertising policies</a> 
page.</p>
