

<h1>Special Projects</h1>

<p>Over the years, <i>The Tech</i> has produced a variety of special issues, sections, and side projects.
A few of these efforts are featured here.</p>

<h2>Special Sections</h2>

<p><a href="/V132/N59/pressure/index.htm">Under Pressure</a>: Based on nearly 3,200 responses to our stress survey and interviews with students and administrators alike, this special issue delves into the pressure that comes with drinking from the MIT firehose.</p>
<p><a href="/V132/N25/">Religion at MIT</a>: This 2012 special issue looks at religious beliefs across campus.</p>
<p><a href="/V129/N49/">Sex@MIT</a>: This feature, published in 2009, highlights sexuality on campus and features a campus-wide sex survey.</p>
<p><a href="/V128/N26/">Health at MIT</a>: This special section from 2008 focuses on health services at MIT.</p>


<h2>Other Projects</h2>
<ul>
  <li><a href="http://shakespeare.mit.edu/">Works of Shakespeare</a></li>
  <li><a href="http://classics.mit.edu/">Works of Classical Literature</a></li>
  <li><a href="http://the-tech.mit.edu/~Subway/">New York City Transit Scenes</a></li>
  <li><a href="http://lolcats.mit.edu/?morecats=8">Lolcats</a></li>
</ul>