<div id="main" style="float:right;width:660;border-right: 0px;padding-top:0;">
    <div class="exec">
        <h2>Chairman</h2>
        <div>
            Olivia Brode-Roger&nbsp;’17
        </div>
    </div>
    <div class="exec">
        <h2>Editor in Chief</h2>
        <div>
            Vivian Zhong&nbsp;’19
        </div>
    </div>
    <div class="exec">
        <h2>Business Manager</h2>
        <div>
            Christopher Wang&nbsp;’19
        </div>
    </div>
    <div class="exec">
        <h2>Managing Editor</h2>
        <div>
            William Navarre&nbsp;’17
        </div>
    </div>
    <div class="exec">
        <h2>Executive Editor</h2>
        <div>
            Emma Bingham&nbsp;’19
        </div>
    </div>
    <div class='department'>
        <h2>News Staff</h2>
        <div>
            <b>News Editors:</b> Patrick Wahl&nbsp;’18, Patrick Wahl&nbsp;’18, Anshula Gandhi&nbsp;’19; <b>Staff:</b> Drew Bent&nbsp;’18, Marie Patino&nbsp;’18, Divya Gopinath&nbsp;’19, Melody Tan&nbsp;’20, Rose E. Wang&nbsp;’20; <b>Meteorologists:</b> Colin Thackray&nbsp;G, Vince Agard&nbsp;’11, Costa Christopoulos&nbsp;’17.
        </div>
    </div>
    <div class='department'>
        <h2>Production Staff</h2>
        <div>
            <b>Editors:</b> Áron Ricardo Perez-Lopez&nbsp;’20, Sara Wilson&nbsp;’20; <b>Staff:</b> Hannah Rudoltz&nbsp;’18, Melissa Cao&nbsp;’20, Jierui Fang&nbsp;’20, Eber Nolasco-Martinez&nbsp;’20, Shannon Peng&nbsp;’20, Nina Wang&nbsp;’20; <b>Illustrators:</b> Taksapaun Kittiakrastien&nbsp;’14, Jessie Wang&nbsp;’19.
        </div>
    </div>
    <div class='department'>
        <h2>Opinion Staff</h2>
        <div>
            <b>Associate Editor:</b> Steven Struong&nbsp;’20; <b>Staff:</b> Michael Beautyman&nbsp;G, Keertan Kini&nbsp;’16, Isaac Silberberg&nbsp;’16, Suri Bandler&nbsp;’17, Daniel Perry&nbsp;’19.
        </div>
    </div>
    <div class='department'>
        <h2>Sports Staff</h2>
        <div>
            <b>Editors:</b> Zachary Collins&nbsp;’19, Ahaan Rungta&nbsp;’19; <b>Staff:</b> Souparno Ghosh&nbsp;G, Margaret H. Carpenter&nbsp;’17, Danny Newman&nbsp;’17, Yueyang Ying&nbsp;’19.
        </div>
    </div>
    <div class='department'>
        <h2>Arts Staff</h2>
        <div>
            <b>Editors:</b> Alexandra Sourakov&nbsp;’18, Nafisa Syed&nbsp;’19; <b>Staff:</b> Josh Cowls&nbsp;G, Carolyn Fu&nbsp;G, Denis Bozic&nbsp;’15, Krystal Lai&nbsp;’17, Ka-Yen Yau&nbsp;’18, Gabe Fields&nbsp;’19, Mariam Dogar&nbsp;’20, Ivy Li&nbsp;’20, Rona Wang&nbsp;’20, Erica Weng&nbsp;’20.
        </div>
    </div>
    <div class='department'>
        <h2>Photography Staff</h2>
        <div>
            <b>Associate Editor:</b> Ho Yin Au&nbsp;’13; <b>Staff:</b> Alexander C. Bost&nbsp;G, Skyler E. Adams&nbsp;’16, Sarah Liu&nbsp;’16, Lenny Martinez&nbsp;’17, Tristan Honscheid&nbsp;’18, Daniel Mirny&nbsp;’18, Robert Rusch&nbsp;’18, Mati Alemayehu&nbsp;’20, Lily Bailey&nbsp;’20, Damian Barabonkov&nbsp;’20, Anselmo Cassiano, Ping Xu.
        </div>
    </div>
    <div class='department'>
        <h2>Campus Life Staff</h2>
        <div>
            <b>Editor:</b> Chloe Yang&nbsp;’19; <b>Staff:</b> Elaine Lin&nbsp;’18, Jing Lin&nbsp;’18, Nina Lutz&nbsp;’19, Michal Shlapentokh-Rothman&nbsp;’19.
        </div>
    </div>
    <div class='department'>
        <h2>Copy Staff</h2>
        <div>
            <b>Copy Chief:</b> Josephine Yu&nbsp;’20.
        </div>
    </div>
    <div class='department'>
        <h2>Business Staff</h2>
        <div>
            <b>Staff:</b> Fiona Lam&nbsp;’17, Angela Leong&nbsp;’18, Aaron Zeng&nbsp;’18, Catherine Looby&nbsp;’19, Katherine Wang&nbsp;’19.
        </div>
    </div>
    <div class='department'>
        <h2>Technology Staff</h2>
        <div>
            <b>Director:</b> Jiahao Li&nbsp;’18; <b>Staff:</b> Greg Steinbrecher&nbsp;G, Zygimantas Straznickas&nbsp;’17, Ray Wang&nbsp;’18, Kavya Ravichandran&nbsp;’20.
        </div>
    </div>
    <div class='department'>
        <h2>Editors at Large</h2>
        <div>
            <b>Senior Editors:</b> Karleigh Moore&nbsp;’16, Claire Lazar&nbsp;’17, Tara Lee&nbsp;’17, Colleen Madlinger&nbsp;’17, Katherine Nazemi&nbsp;’17, Vivian Hu&nbsp;’18.
        </div>
    </div>
    <div class='department'>
        <h2>Advisory Board</h2>
        <div>
            Paul E. Schindler, Jr.&nbsp;’74, V. Michael Bove&nbsp;’83, Barry S. Surman&nbsp;’84, Deborah A. Levinson&nbsp;’91, Karen Kaplan&nbsp;’93, Saul Blumenthal&nbsp;’98, Frank Dabek&nbsp;’00, Satwiksai Seshasai&nbsp;’01, Daniel Ryan Bersak&nbsp;’02, Eric J. Cholankeril&nbsp;’02, Nathan Collins SM&nbsp;’03, Tiffany Dohzen&nbsp;’06, Beckett W. Sterner&nbsp;’06, Marissa Vogt&nbsp;’06, Andrew T. Lukmann&nbsp;’07, Zachary Ozer&nbsp;’07, Austin Chu&nbsp;’08, Michael McGraw-Herdeg&nbsp;’08, Marie Y. Thibault&nbsp;’08, Ricardo Ramirez&nbsp;’09, Nick Semenkovich&nbsp;’09, Angeline Wang&nbsp;’09, Quentin Smith&nbsp;’10, Jeff Guo&nbsp;’11, Joseph Maurer&nbsp;’12, Ethan A. Solomon&nbsp;’12, Connor Kirschbaum&nbsp;’13, Jessica J. Pourian&nbsp;’13, Aislyn Schalck&nbsp;’13, Anne Cai&nbsp;’14, Jessica L. Wass&nbsp;’14, Bruno Faviero&nbsp;’15, Kali Xu&nbsp;’15, Leon Lin&nbsp;’16, Kath Xu&nbsp;’16, Anthony Yu&nbsp;’16, B. D. Colen.
        </div>
    </div>
    <p id="bottom-matter"><i>The Tech</i> (ISSN 0148-9607) is published on Thursdays during the academic year (except during MIT vacations) and monthly during the summer by The Tech, Room W20-483, 84 Massachusetts Avenue, Cambridge, Mass. 02139. Subscriptions are $50.00 per year (third class). <strong>Postmaster:</strong> Please send all address changes to our mailing address: The Tech, P.O. Box 397029, Cambridge, Mass. 02139-7029. <strong>Telephone:</strong> Editorial: (617)&nbsp;253-1541. Business: (617)&nbsp;258-8324. Facsimile: (617)&nbsp;258-8226. <em>Advertising, subscription, and typesetting rates available.</em> Entire contents <strong>&copy;&nbsp;2017 The Tech</strong>. <em>Printed by Turley Publications, Inc.</em></p>
    <p id="last-updated">This masthead was last updated on February 23, 2017.</p>
</div>