
<div id="main" style="float:right;width:660;border-right: 0px;padding-top:0;">
<div class="exec">
<h2>Chairman</h2> <div>Colleen Madlinger ’17</div>
</div>
<div class="exec">
<h2>Editor in Chief</h2> <div>Katherine Nazemi ’17</div>
</div>
<div class="exec">
<h2>Business Manager</h2> <div>Aaron Zeng ’18</div>
</div>
<div class="exec">
<h2>Managing Editor</h2> <div>Vivian Hu ’18</div>
</div>
<div class="exec">
<h2>Executive Editor</h2> <div>William Navarre ’17</div>
</div>
<div class='department'><h2>News Staff</h2>
<div><b>Features Editor:</b>
Drew Bent ’18;
<b>Staff:</b>
Emma Bingham ’19,
Divya Gopinath ’19,
Vivian  Zhong ’19;
<b>Meteorologists:</b>
Colin Thackray G,
Vince Agard ’11,
Costa Christopoulos ’17.
</div></div>
<div class='department'><h2>Production Staff</h2>
<div><b>Editor:</b>
Justine Cheng ’17;
<b>Associate Editors:</b>
Hannah Rudoltz ’18,
Samir Wadhwania ’18;
<b>Staff:</b>
Emily Weng ’19,
Wei H. Wu ’19;
<b>Illustrator:</b>
Taksapaun Kittiakrastien ’14.
</div></div>
<div class='department'><h2>Opinion Staff</h2>
<div><b>Editor:</b>
Claire Lazar ’17;
<b>Associate Editors:</b>
Michael Beautyman G,
Keertan Kini ’16;
<b>Staff:</b>
Feras Saad ’15,
Isaac Silberberg ’16,
Suri Bandler ’17.
</div></div>
<div class='department'><h2>Sports Staff</h2>
<div><b>Editor:</b>
Souparno Ghosh G;
<b>Staff:</b>
Margaret H. Carpenter ’17,
Ali C. Soylemezoglu ’17,
Zachary Collins ’19,
Yueyang Ying ’19.
</div></div>
<div class='department'><h2>Arts Staff</h2>
<div><b>Editors:</b>
Karleigh Moore ’16,
Tara Lee ’17;
<b>Associate Editor:</b>
Nafisa Syed ’19;
<b>Staff:</b>
Josh Cowls G,
Carolyn Fu G,
Denis Bozic ’15,
Alexandra Sourakov ’18,
Ka-Yen Yau ’18,
Gabe Fields ’19.
</div></div>
<div class='department'><h2>Photography Staff</h2>
<div><b>Editors:</b>
Lenny Martinez ’17,
Daniel Mirny ’18,
Robert Rusch ’18;
<b>Associate Editors:</b>
Ho Yin Au ’13,
Tristan Honscheid ’18;
<b>Staff:</b>
Alexander C. Bost G,
Melissa Renée Schumacher G,
Christopher A. Maynor ’15,
Sherry Ren ’15,
Skyler E. Adams ’16,
Sarah Liu ’16,
Landon Carter ’17,
Chaarushena Deb ’18,
Megan Prakash ’18,
Jessie Wang ’19.
</div></div>
<div class='department'><h2>Campus Life Staff</h2>
<div><b>Editor:</b>
Kath Xu ’16;
<b>Associate Editor:</b>
Chloe Yang ’19;
<b>Staff:</b>
Elaine Lin ’18,
Jing Lin ’18,
Nina Lutz ’19,
Michal Shlapentokh-Rothman ’19.
</div></div>
<div class='department'><h2>Business Staff</h2>
<div><b>Advertising Managers:</b>
Angela Leong ’18,
Jessica Pointing ’18;
<b>Operations Manager:</b>
Christopher Wang ’19;
<b>Staff:</b>
Nayeon Kim ’16,
Joyce Zhang ’16,
Fiona Lam ’17,
Eli D. Scher-Zagier ’18,
Amy Wang ’18,
Catherine Looby ’19,
Jisoo Min ’19,
Caroline Pech ’19,
Milka Piszczek ’19,
Katherine Wang ’19.
</div></div>
<div class='department'><h2>Technology Staff</h2>
<div><b>Director:</b>
Jiahao Li ’18;
<b>Staff:</b>
Greg Steinbrecher G,
Zygimantas Straznickas ’17.
</div></div>
<div class='department'><h2>Editors at Large</h2>
<div><b>Contributing Editors:</b>
Sanjana Srivastava ’18,
Ray Wang ’18;
<b>Senior Editors:</b>
Will Conway ’16,
Leon Lin ’16,
Anthony Yu ’16.
</div></div>
<div class='department'><h2>Advisory Board</h2>
<div>Paul E. Schindler, Jr. ’74,
V. Michael Bove ’83,
Barry S. Surman ’84,
Deborah A. Levinson ’91,
Karen Kaplan ’93,
Saul Blumenthal ’98,
Frank Dabek ’00,
Satwiksai Seshasai ’01,
Daniel Ryan Bersak ’02,
Eric J. Cholankeril ’02,
Nathan Collins SM ’03,
Tiffany Dohzen ’06,
Beckett W. Sterner ’06,
Marissa Vogt ’06,
Andrew T. Lukmann ’07,
Zachary Ozer ’07,
Austin Chu ’08,
Michael McGraw-Herdeg ’08,
Marie Y. Thibault ’08,
Ricardo Ramirez ’09,
Nick Semenkovich ’09,
Angeline Wang ’09,
Quentin Smith ’10,
Jeff Guo ’11,
Joseph Maurer ’12,
Ethan A. Solomon ’12,
Connor Kirschbaum ’13,
Jessica J. Pourian ’13,
Aislyn Schalck ’13,
Anne Cai ’14,
Jessica L. Wass ’14,
Bruno Faviero ’15,
Kali Xu ’15,
B. D. Colen.
</div></div>
<p id="bottom-matter"><i>The Tech</i> (ISSN 0148-9607) is published on
Thursdays during the academic year (except during MIT
vacations) and monthly during the summer by
The Tech, Room W20-483, 84 Massachusetts Avenue, Cambridge, Mass. 02139.
Subscriptions are $50.00 per year (third class). <strong>Postmaster:</strong> 
Please send all address changes to our mailing address: The Tech, P.O. Box 
397029, Cambridge, Mass. 02139-7029. <strong>Telephone:</strong> Editorial: 
(617)&nbsp;253-1541. Business: (617)&nbsp;258-8324. Facsimile: 
(617)&nbsp;258-8226. <em>Advertising, subscription, and typesetting rates 
available.</em> Entire contents <strong>&copy;&nbsp;2016 The 
Tech</strong>. <em>Printed on recycled paper by Mass Web Printing 
Company.</em></p>

<p id="last-updated">This masthead was last updated on April 9, 2016.</p>

</div>
