
<div class="exec">
<h2>Chairman</h2> <div>Will Conway ’16</div>
</div>
<div class="exec">
<h2>Editor in Chief</h2> <div>Leon Lin ’16</div>
</div>
<div class="exec">
<h2>Business Manager</h2> <div>Fiona Lam ’17</div>
</div>
<div class="exec">
<h2>Managing Editor</h2> <div>Anthony Yu ’16</div>
</div>
<div class="exec">
<h2>Executive Editor</h2> <div>Tushar Kamath ’16</div>
</div>
<div class='department'><h2>News Staff</h2>
<div><b>News Editors:</b>
Patricia Z. Dominguez ’17,
Katherine Nazemi ’17;
<b>Associate News Editors:</b>
Alexandra Delmore ’17,
Drew Bent ’18,
Ray Wang ’18;
<b>Staff:</b>
Stan Gill ’14,
Kath Xu ’16,
Rohan Banerjee ’18,
Sanjana Srivastava ’18,
Jennifer F. Switzer ’18,
Amy Wang ’18;
<b>Meteorologists:</b>
Vince Agard ’11,
Roman Kowch ’12,
Shaena Berlin ’13,
Casey Hilgenbrink ’15,
Ray Hua Wu ’16,
Costa Christopoulos ’17.
</div></div>
<div class='department'><h2>Production Staff</h2>
<div><b>Editors:</b>
Justine Cheng ’17,
Colleen Madlinger ’17,
Lenny Martinez ’17,
Vivian Hu ’18;
<b>Staff:</b>
Judy Hsiang ’12,
Esme Rhine ’15,
Krithika Swaminathan ’17,
Karia Dibert ’18,
Sophie Mori ’18.
</div></div>
<div class='department'><h2>Opinion Staff</h2>
<div><b>Editor:</b>
Claire Lazar ’17;
<b>Staff:</b>
Feras Saad ’15,
Aaron Hammond ’17.
</div></div>
<div class='department'><h2>Sports Staff</h2>
<div><b>Editors:</b>
Souparno Ghosh G,
Ali C. Soylemezoglu ’17;
<b>Staff:</b>
Austin Osborne ’15.
</div></div>
<div class='department'><h2>Arts Staff</h2>
<div><b>Associate Editor:</b>
Karleigh Moore ’16;
<b>Staff:</b>
Juan Alvarez G,
Daniel Kolodrubetz G,
Ian Matts G,
Edwina Portocarrero G,
Kristen Sunter G,
Katie Villa G,
Roberto Perez-Franco PhD ’10,
Denis Bozic ’15,
Chennah Heroor ’15,
Ariel Schvartzman ’15,
Rachel Katz ’17,
Priya T. Kikani ’17,
Tara Lee ’17.
</div></div>
<div class='department'><h2>Photography Staff</h2>
<div><b>Editors:</b>
Jessica L. Wass ’14,
Tristan Honscheid ’18,
Daniel Mirny ’18,
Megan Prakash ’18;
<b>Associate Editors:</b>
Ho Yin Au ’13,
Alexander C. Bost;
<b>Staff:</b>
David Da He G,
Kento Masuyama G,
Melissa Renée Schumacher G,
Christopher A. Maynor ’15,
Sherry Ren ’15,
Sarah Liu ’16,
Landon Carter ’17,
Chaarushena Deb ’18,
Robert Rusch ’18.
</div></div>
<div class='department'><h2>Campus Life Staff</h2>
<div><b>Staff:</b>
Stephanie Lam G,
Emily A. Moberg G,
Davie Rolnick G,
Victoria Young G;
<b>Cartoonists:</b>
Letitia W. Li G,
Paelle Powell ’15,
Stephanie Su ’15,
Steve Sullivan ’15,
Erika S. Trent ’15,
Timothy Yang ’15,
Dohyun Lee ’16.
</div></div>
<div class='department'><h2>Business Staff</h2>
<div><b>Advertising Manager:</b>
Angela Leong ’18;
<b>Operations Manager:</b>
Aaron Zeng ’18;
<b>Staff:</b>
Nayeon Kim ’16,
Madeline J. O'Grady ’16,
Joyce Zhang ’16,
Michelle Chao ’17,
Casey Crownhart ’17,
Junsheng Ma ’17,
 ’18,
Jessica Pointing ’18.
</div></div>
<div class='department'><h2>Technology Staff</h2>
<div><b>Staff:</b>
Greg Steinbrecher G,
Zygimantas Straznickas ’17,
Jiahao Li ’18.
</div></div>
<div class='department'><h2>Online Media Staff</h2>
<div><b>Staff:</b>
Stephen Suen ’15.
</div></div>
<div class='department'><h2>Editors at Large</h2>
<div><b>Contributing Editor:</b>
William Navarre ’17;
<b>Senior Editors:</b>
Tami Forrester ’15,
Austin Hess ’15,
Jacob London ’15,
Annia Pan ’15.
</div></div>
<div class='department'><h2>Advisory Board</h2>
<div>Paul E. Schindler, Jr. ’74,
V. Michael Bove ’83,
Barry S. Surman ’84,
Deborah A. Levinson ’91,
Jonathan E. D. Richmond PhD ’91,
Karen Kaplan ’93,
Saul Blumenthal ’98,
Frank Dabek ’00,
Satwiksai Seshasai ’01,
Daniel Ryan Bersak ’02,
Eric J. Cholankeril ’02,
Nathan Collins SM ’03,
Tiffany Dohzen ’06,
Beckett W. Sterner ’06,
Marissa Vogt ’06,
Andrew T. Lukmann ’07,
Zachary Ozer ’07,
Austin Chu ’08,
Michael McGraw-Herdeg ’08,
Omari Stephens ’08,
Marie Y. Thibault ’08,
Ricardo Ramirez ’09,
Nick Semenkovich ’09,
Angeline Wang ’09,
Quentin Smith ’10,
Jeff Guo ’11,
Joseph Maurer ’12,
Ethan A. Solomon ’12,
Connor Kirschbaum ’13,
Jessica J. Pourian ’13,
Aislyn Schalck ’13,
Anne Cai ’14,
Kali Xu ’15,
B. D. Colen.
</div></div>

<p id="last-updated">This masthead was last updated on February 8, 2015.</p>
