
<h1>Subscribe to <i>The Tech</i></h1>

<p>For subscription information/requests, e-mail 
<em><a href="mailto:subscribe@tech.mit.edu">subscribe@tech.mit.edu</a></em>. Currently <i>The Tech</i> is only able to offer subscriptions in paper form, and not electronically (eg. email).</p>

<p>US Standard Mail costs $50 for one year and $90 for two years. International destinations are $200 yearly.
  Please include the name and address for the subscription, along with the duration and send a check made out to "The Tech" to:</p>
<blockquote>
The Tech<br \>
Attn: Subscriptions<br \>
P.O. Box 397029<br \>
Cambridge, MA 02139-7029
</blockquote>
