
<h1>Unpublish Policy</h1>

<p><i>The Tech</i> strives for its website to be a complete and accurate historical record of MIT and the local community. To unpublish or limit the accessibility of our content through search engines compromises the integrity of this record and violates the trust <i>The Tech</i>'s readers place in us.</p>

<p>It is our policy to not remove published content from our website or make it unsearchable. If an article is inaccurate or if new and relevant information emerges, we will publish an update or a follow-up story. Other credible newspapers &#8212 college, local, or national &#8212 abide by the same journalistic standards.</p>