<div class="editing-toolbar">
  <%= link_to "javascript: window.homepage.remove_submodule('#{submodule[:uuid]}'); ", data: {confirm: 'Do you really want to remove this module? '} do %>
    <i class="fa fa-times"></i>
  <% end %>
</div>