<div class="titleline">
  <h1>Sections</h1>

  <%= link_to new_section_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Section
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th># Pieces</th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @sections) do |section| %>
      <td><%= link_to section.name, section %></td>
      <td><%= section.pieces.size %></td>
    <% end %>
  </tbody>
</table>
