<div class="titleline">
  <h1><%= @section.name %></h1>
  <%= link_to sections_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
</div>

<% unless @articles_in_section.empty? %>
  <table class="table" id="articles_table">
    <thead>
      <tr>
        <th>Section</th>
        <th class="center">Web Published?</th>
        <th class="center">Print Ready?</th>
        <th>Article</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'articles/article_list', json_articles: @articles_in_section %>
    </tbody>
  </table>
<% else %>
  <p>No articles found in this section. </p>
<% end %>


