<div class="titleline">
  <h1><%= @section.name %></h1>
  <%= link_to sections_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
</div>

<% unless @section.articles.empty? %>
  <%= render 'articles/article_list', articles: @section.articles %>
<% else %>
  <p>No articles found in this section. </p>
<% end %>


