<% if !images.blank? %>
  <% for i in images %>
    <% piece = i.primary_piece || i.pieces.first %>
    <% link = piece.try(:frontend_display_path) %>

    <div class="list-image">
    <!-- Pure black image -->
      <img src="<%= i.pictures.first.content.url(:square) %>" alt="">
      <%= link_to link do %>
        <div class="caption-box clearfix">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUCB1jYGBg+A8AAQQBAB5znEAAAAAASUVORK5CYII=" alt="" class="caption-overlay">
          <div class="caption"><%= truncate i.caption, length: 220, seperator: ' ' %></div>
          <div class="attribution"><%= i.attribution %></div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h1 class="list-empty">No images found.</h1>
<% end %>