@import "./variables";

.issue-sidebar-content {
  .volume {
    color: rgb(153, 51, 51);
    font-size: 30px;
    font-family: $sans-serif;
    font-weight: 300;
  }

  .number {
    margin-left: 10px;
    font-size: 20px;
    font-family: $sans-serif;
  }

  .pdf-preview {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
  }

  .prev-issue, .next-issue, .browse-all {
    font-family: $sans-serif;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .prev-issue {
    float: left;
    padding-left: 10px;
  }

  .next-issue {
    float: right;
    padding-right: 10px;
  }

  .browse-all {
    clear: both;
    display: block;
    padding-left: 10px;
  }

}

.frontend_issue_index {
  h2 {
    font-family: $sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #993333;
  }

  .issue {
    border: 1px solid #555;
    font-size: 1.5em;
    font-family: $sans-serif;
    font-weight: 300;
    padding: 15px;
    width: 62px;
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    color: black;
    text-decoration: none;

    &:hover {
      background-color: #993333;
      color: white;
      border: 1px solid #993333;
    }
  }
}

.photographer-topbar {
  @include outer-container();

  margin-top: 50px;
  margin-bottom: 50px;

  @include media($mobile) {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .portrait-container {
    @include span-columns(2 of 12);

    @include media($tablet) {
      @include span-columns(4 of 12);
    }

    @include media($mobile) {
      @include span-columns(12 of 12);
    }
  }

  .info-container {
    @include span-columns(10 of 12);

    @include media($tablet) {
      @include span-columns(8 of 12);

      padding-left: 20px;
    }

    @include media($mobile) {
      @include span-columns(12 of 12);
    }
  }

  .portrait {
    width: 100%;
    border-radius: 300px;
    margin-bottom: modular-scale(0);

    @include media($mobile) {
      width: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .name {
    font-family: $sans-serif;
    margin-top: 0;
    font-size: 40px;
    font-weight: 500;

    display: inline;
  }

  .count {
    font-family: $sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #aaa;
    margin-left: 10px;
  }

  .bio {
    font-family: $sans-serif;
    font-weight: 300;
    margin-top: 7px;
    margin-bottom: 0;

    &:nth-of-type(1) {
      margin-top: 15px;
    }
  }
}

.list-images {
  @include outer-container();

  .list-image {
    @include span-columns(3 of 12);
    @include omega(4n);

    @include media($tablet) {
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    @include media($mobile) {
      @include span-columns(12 of 12);
      @include omega(n);
    }

    position: relative;
    margin-bottom: 20px;

    img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .caption-box {
      opacity: 0;
      width: 100%;
      height: 100%;

      &:hover {
        opacity: 1;
      }
    }

    .caption-overlay {
      position: relative;
      width: 100%;
      opacity: 0.8;
    }

    .caption {
      color: white;
      width: 100%;
      height: 190px;
      left: 0;
      top: 0;
      overflow: hidden;
    }

    .caption, .attribution {
      font-family: $sans-serif;
      font-weight: 300;
      position: absolute;
      padding: 30px;
    }

    .attribution {
      bottom: 0;
      color: #ccc;
      text-align: right;
      width: 100%;
    }
  }

  .list-empty {
    margin: 0 auto;
    text-align: center;
  }
}

.issue-articles .list-images {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
}

.issue-articles .all-photos, .list-images .all-photos, .list-articles .all-photos {

  font-family: $sans-serif;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 15px;
  border: 2px solid #993333;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: #993333;
    color: white;
    border: 1px solid #993333;
  }

}

.photographer-topbar .all-photos {

  font-family: $sans-serif;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 15px;
  border: 2px solid #993333;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: #993333;
    color: white;
    border: 1px solid #993333;
  }

}

.issue-articles .list-images .list-image {
  @include span-columns(4 of 12);
  @include omega-reset (4n);
  @include omega (3n);

  @include media($tablet) {
    @include omega-reset (3n);
    @include omega (2n);
    @include span-columns(6 of 12);
  }

  @include media($mobile) {
    @include omega-reset (3n);
    @include omega (n);
    @include span-columns(12 of 12);
  }
}

// Globals
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  @include display(flex);
  @include flex-direction(column);
  overflow-x: hidden;
}
a {
  color: rgb(153,51,51);
}
.container {
  @include outer-container;
  max-width: 1170px;
  @include media($desktop) {
    max-width: 970px;
  }
  @include media($tablet) {
    max-width: 750px;
  }
  @include media($mobile) {
    max-width: 100%;
    padding: 0 25px;
  }
  width: 100%;
  margin-top: 75px;
  position: relative;
  @include flex(1);
  left: 0;
  @include transition(left 0.3s ease-in-out);
  &.in {
    left: 240px;
  }
}

.frontend_homepage_show {
  //Banner
  .survey-banner{
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: #6B2526; //fix this
    text-align: center;
    font-size: 200%;
    padding-top: 30px;
    //border-bottom: 10px solid rgb(153,51,51);

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.survey-popup {
  top:0px;
  font-family: $serif;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  text-align: center;
  font-size: 350%;
  padding-top: 30px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.70);
  align-items: center;

}

.survey-card {
  margin: auto;
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  height: 60vh;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #FFF;
  border-top: solid 10px rgb(153,51,51);
}

.survey-card a {
  position: relative;
  top: 35%;
  font-size: 100%;
  text-decoration: none;
}

.survey-close-button{
  float: right;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 20px;
  color: rgb(153,51,51);
}

//Banner
.survey-banner{
  position: relative;
  top:50px;
  width: 100%;
  height: 100px;
  background-color: #6B2526; //fix this
  text-align: center;
  font-family: "Merriweather", Georgia, serif;
  font-size: 200%;
  padding-top: 30px;
  border-bottom: 10px solid rgb(153,51,51);

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

// Navbar
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 50px;
  border-bottom: 1px solid rgb(204,204,204);
  z-index: 1;
  background-color: rgb(255,255,255);
  // box-shadow: 0 1px 4px rgba(153,153,153,0.3);
  @include transition(top 0.3s ease-in-out, left 0.3s ease-in-out, margin-left 0.15s ease-in-out 0.15s);
  &.in {
    left: 240px;
  }
  &.up {
    top: -50px;
  }
  &.search {
    left: -100%;
    margin-left: 50px;
  }
}
.navbar-menu {
  width: 50px;
  height: 50px;
  position: fixed;
  background-color: rgb(153,51,51);
}
.navbar-menu span {
  height: 3px;
  width: 25px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  left: 12px;
  top: 15px;
  border-radius: 2px;
  background-color: rgb(255,255,255);
  // &:nth-child(2n) { @include transition(transform 0.45s ease-in-out); }
  // &:nth-child(3) { @include transition(opacity 0.45s ease-in-out); }
}
.navbar-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  @include transition(opacity 0.3s ease-in-out);

  @include media($mobile) {
    opacity: 0;
  }

}
.navbar-menu:hover .navbar-logo,
.in .navbar-logo {
  opacity: 0;
}
.in .navbar-menu span {
  // &:nth-child(2) { @include transform(translateY(8px) rotate(45deg)); }
  // &:nth-child(3) { opacity: 0; }
  // &:last-child { @include transform(translateY(-8px) rotate(-45deg)); }
}
.navbar-title,
.article-title {
  margin: 25px 15px;
  position: absolute;
  left: 50px;
  font-size: modular-scale(0);
  font-family: $serif;
  line-height: 0;
  color: rgb(0,0,0);
  text-decoration: none;
}

.search .navbar-feedback {

  right: 60% !important;

  -webkit-transition: right 0.2s; /* Safari */
  transition: right 0.2s;

}

.navbar-feedback,
.navbar-feedback-alt {
  position: absolute;
  right: 52.5%;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  background-color: #933;
  font-family: $sans-serif;
  font-weight: 500;

  z-index: 99;

  padding: 6px 10px;
  border-radius: 3px;
  margin-top: 10px;

  @include media($tablet) {
    right: 53%;
  }

  @include media($mobile) {
    right: 58%;
  }
}
.navbar-feedback-alt {
  display: none;

  @include media($mobile) {
    display: block;
  }
}
.navbar-feedback {
  display: block;

  @include media($mobile) {
    display: none;
  }
}
.navbar-title {
  opacity: 1;
  @include transition(opacity 0.3s ease-in-out 0.3s);
  // @include media($mobile) {
  //   width: 100%;
  //   margin-left: -50px;
  //   text-align: center;
  // }
  &.hidden {
    opacity: 0;
    @include transition-delay(0.2s);
    @include media($mobile) {
      opacity: 1;
    }
  }
}
.article-title {
  opacity: 1;
  @include transition(opacity 0.3s ease-in-out 0.3s);
  @include media($mobile) {
    opacity: 0;
  }
  &.hidden {
    @include transition-duration(0.2s);
    @include transition-delay(0);
    opacity: 0;
    pointer-events: none;
  }
}
.navbar-search-icon {
  width: 50px;
  height: 50px;
  border-bottom: 1px solid rgb(204,204,204);
  position: absolute;
  right: 50%;
  z-index: 1;
  text-align: center;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  -webkit-appearance: none;
     -moz-appearance: none;
  @include media($tablet) {
    &:before {
      content: "";
      width: 25px;
      height: 50px;
      display: block;
      position: absolute;
      right: 50px;
    }
  }
  @include media($mobile) {
    &:before {
      content: "";
      width: 25px;
      height: 50px;
      display: block;
      position: absolute;
      right: 50px;
    }
  }
}
.navbar-search-close-icon {
  width: 50px;
  height: 45px;
  border-bottom: 1px solid rgb(204,204,204);
  position: absolute;
  right: 50px;
  z-index: 1;
  text-align: center;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  cursor: pointer;
  @include transform(translateY(-44px));
  -webkit-appearance: none;
     -moz-appearance: none;
  @include media($tablet) {
    &:before {
      content: "";
      width: 25px;
      height: 50px;
      display: block;
      position: absolute;
      right: 50px;
    }
  }
  @include media($mobile) {
    &:before {
      content: "";
      width: 25px;
      height: 50px;
      display: block;
      position: absolute;
      right: 50px;
    }
  }
}
.navbar-search-icon i,
.navbar-search-close-icon i,
.homepage-search-icon i {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}
.homepage-search-icon {
  width: 50px;
  height: 50px;
  border-top: 10px solid rgb(153,51,51);
  position: absolute;
  top: 90px;
  right: 0;
  text-align: center;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  -webkit-appearance: none;
     -moz-appearance: none;
  @include media($tablet) {
    display: none;
  }
  @include media($mobile) {
    display: none;
  }
}
.navbar form {
  //width: 100%;
  //height: 49px;
  //margin-left: 50%;
  width: 100vw;
  height: 49px;
  margin-left: 100vw;
  padding-right: 100px;
}
.navbar-search {
  font-family: $sans-serif;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 0;
  font-size: modular-scale(1, 3/4*$modular-scale-base);
  &:focus {
    outline: none;
  }
}

// Sidenav
.sidenav {
  position: fixed;
  left: -240px;
  top: 0;
  width: 240px;
  min-height: 100%;
  @include display(flex);
  @include flex-direction(column);
  background-color: rgb(51,51,51);
  @include transition(left 0.3s ease-in-out);
  &.in {
    left: 0;
  }
}
.sidenav ul {
  height: 100vh;
  padding: 15px;
  margin: 0;
  @include flex(1);
  overflow-y: auto;
}
.sidenav li {
  font-family: $sans-serif;
  font-size: modular-scale(0);
  margin-bottom: modular-scale(0);
  list-style-type: none;
}
.sidenav li:last-child {
  padding-bottom: 25px;
}
.sidenav .separator {
  margin-top: modular-scale(2);
  // padding-top: modular-scale(-3);
  // border-top: 1px solid rgb(102,102,102);
  // font-size: modular-scale(0);
  // text-transform: uppercase;
  // color: rgb(102,102,102);
}
.sidenav a {
  color: rgb(204,204,204);
  text-decoration: none;
  &:hover {
    color: rgb(255,255,255);
  }
}

// Footer
footer {
  height: 185px;
  margin-top: modular-scale(2, 3/4*$modular-scale-base);
  background-color: rgb(249,249,249);
  position: relative;
  left: 0;
  @include transition(left 0.3s ease-in-out);
  &.in {
    left: 240px;
  }
}
.footer-content {
  @include outer-container;
  max-width: 1170px;
  @include media($desktop) {
    max-width: 970px;
  }
  @include media($tablet) {
    max-width: 750px;
  }
  @include media($mobile) {
    max-width: 100%;
    padding: 0 25px;
  }
  padding: modular-scale(2, 3/4*$modular-scale-base) 0;
}
.footer-content,
.footer-content div {
  height: auto;
  @include media($mobile) {
    height: 100%;
  }
}
.footer-contact {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(4);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
}
.footer-sections,
.footer-static,
.footer-social {
  @include span-columns(2);
  @include media($mobile) {
    display: none;
  }
}
.footer-content ul {
  padding: 0;
  margin: 0;
  font-weight: 300;
}
.footer-content li {
  list-style-type: none;
  font-family: $sans-serif;
  font-size: modular-scale(-1, 5/4*$modular-scale-base);
  margin-bottom: modular-scale(-3);
}
.footer-content a {
  text-decoration: none;
  &:hover {
    color: rgb(102,102,102);
  }
}
.footer-logo {
  margin-top: modular-scale(0);
  float: left;
  width: 80px;
}
.footer-contact ul {
  margin-left: 120px;
  @include media($mobile) {
    margin-left: 30px;
  }
}
.footer-contact li {
  color: rgb(153,153,153);
}
.footer-contact li:first-child {
  margin-top: modular-scale(1);
  color: rgb(0,0,0);
  font-weight: 700;
  text-transform: uppercase;
}
.footer-social li:last-child {
  color: rgb(153,153,153);
}

// Article
article {
  overflow: auto;
}
.section,
.primary-tag {
  font-family: $sans-serif;
  font-size: modular-scale(0);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: rgb(153,51,51);
  margin-bottom: 0;
  border-bottom: 0;
  &:hover {
    color: rgb(102,102,102);
  }
}
article .primary-tag,
.article-info .primary-tag
{
  font-weight: 300;
  margin-left: modular-scale(-2);
}
.headline {
  font-family: $serif;
  font-size: modular-scale(2);
  font-weight: 700;
  font-style: italic;
  margin: modular-scale(-4) 0 0;
  @include media($mobile) {
    font-size: modular-scale(1);
  }
}
.subhead {
  font-family: $sans-serif;
  font-size: modular-scale(1);
  font-weight: 300;
  color: rgb(153,153,153);
  margin: 0 0 modular-scale(-1);
  padding-bottom: modular-scale(-1);
  border-bottom: 1px solid rgb(204,204,204);
  @include media($mobile) {
    font-size: modular-scale(0, 5/4*$modular-scale-base);
  }
}
.article-meta {
  font-family: $sans-serif;
  font-size: modular-scale(0);
  font-weight: 400;
  color: rgb(153,153,153);
  margin: modular-scale(0) 0 modular-scale(2, 3/4*$modular-scale-base);
  @include media($mobile) {
    margin-bottom: 15px;
  }
}
.article-meta a {
  color: rgb(153,51,51);
  text-decoration: none;
  border-bottom: 0;
  &:hover {
    color: rgb(102,102,102);
  }
}
.article-meta .byline {
  &:after {
    content: "|";
    margin: 0 modular-scale(-1);
  }
}
.correction {
  font-style: italic;
}
.article-social {
  @include span-columns(2);
  @include media($tablet) {
    // TODO: figure out what to do here
    //display: none;
    @include span-columns(4);
    width: 100%;
  }
  @include media($mobile) {
    @include span-columns(4);
  }
  padding: 0;
  margin: 0;
  float: left;
}
.article-social li {
  list-style-type: none;
  font-family: $sans-serif;
  font-size: modular-scale(-1, 3/2*$modular-scale-base);
  @include media($mobile) {
    width: 20%;
    float: left;
    font-size: modular-scale(1);
  }
  @include media($tablet) {
    width: 20%;
    float: left;
    font-size: modular-scale(1, 3/4*$modular-scale-base);
    margin-bottom: 10px;
  }
}
.article-social li:first-child a {
  padding-top: 0;
}
.article-social li:last-child a {
  padding-bottom: 15px;
  border-bottom: 0;
}
.article-social a {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid rgb(204,204,204);
  display: block;
  color: rgb(153,153,153);
  text-decoration: none;
  &:hover {
    color: rgb(153,153,153);
    i.fa {
      color: rgb(153,153,153);
    }
  }
  @include media($mobile) {
    padding-top: 0;
    border-bottom: 0;
  }
  @include media($tablet) {
    padding-top: 0;
    border-bottom: 0;
  }
}
.article-social li {
  @include media($mobile) {
    text-align: center;
  }
  @include media($tablet) {
    text-align: center;
  }
}
.article-social span {
  @include media($mobile) {
    display: none;
  }
  @include media($tablet) {
    text-align: none;
  }
}
.article-social i {
  margin-right: 15px;
  &.fa-envelope { color: rgb(153,51,51); }
  &.fa-facebook-square { color: rgb(59,89,152); }
  &.fa-twitter { color: rgb(85,172,238); }
  &.fa-reddit { color: rgb(255,165,0); }
  &.fa-print { color: rgb(153,51,51); }
  @include media($mobile) {
    margin-right: 0;
    /*&.fa-twitter,
    &.fa-reddit {
      margin-left: 20%;
    }*/
  }
  &.fa-envelope { color: rgb(153,51,51); }
}
article p,
article > ol,
article > ul {
  @include span-columns(8);
  @include shift(2);
  float: none;
  @include media($tablet) {
    @include span-columns(6);
    @include shift(0);
    float: none;
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    float: none;
  }
  font-family: $serif;
  font-size: modular-scale(1, 5/8*$modular-scale-base);
  line-height: modular-scale(1);
  margin-top: 0;
  margin-bottom: modular-scale(1);
}

article > ul > li > p {

  margin-left: 5%;
  width: 95%;

}

article h3 {
  @include span-columns(8);
  @include shift(2);
  float: none;
  @include media($tablet) {
    @include span-columns(6);
    @include shift(0);
    float: none;
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    float: none;
  }
  font-family: $sans-serif;
  font-size: modular-scale(1, 3/4*$modular-scale-base);
  line-height: modular-scale(1, 3/4*$modular-scale-base);
  margin-top: 0;
  margin-bottom: modular-scale(1, 5/8*$modular-scale-base);
}
article a {
  text-decoration: none;
  border-bottom: 1px dotted rgb(153,153,153);
  &:hover {
    color: rgb(0,0,0);
  }
}
article a.article-ad{ //added styling to make the ads look better if there are multiple ads
  border: none;
  padding: 5px;
}
figure.right {
  width: 50%;
  float: right;
  margin: 0 0 modular-scale(0) modular-scale(2, 3/4*$modular-scale-base);
  @include media($tablet) {
    width: 100%;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
  @include media($mobile) {
    width: 100%;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
}
figure.left {
  width: 50%;
  float: left;
  margin: 0 modular-scale(2, 3/4*$modular-scale-base) modular-scale(0) 0;
  @include media($tablet) {
    width: 100%;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
  @include media($mobile) {
    width: 100%;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
}
figure.default {
  @include span-columns(8);
  @include shift(2);
  margin-bottom: modular-scale(2, 3/4*$modular-scale-base);
  @include media($tablet) {
    @include span-columns(6);
    float: none;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
  @include media($mobile) {
    @include span-columns(4);
    float: none;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
}
.article-social + figure.default {
  @include shift(0);
}
.article-social + figure.left,
.article-social + figure.default {
  margin-left: modular-scale(2, 3/4*$modular-scale-base);
  @include media($tablet) {
    margin-left: 0;
  }
  @include media($mobile) {
    margin-left: 0;
  }
}


figure.standalone {
  @include span-columns(8);
  margin-bottom: modular-scale(2, 3/4*$modular-scale-base);
  @include media($tablet) {
    @include span-columns(6);
    float: none;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
  @include media($mobile) {
    @include span-columns(4);
    float: none;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
}

figure.full {
  @include span-columns(12);
  @include shift(0);
  @include media($tablet) {
    @include span-columns(6);
    @include shift(0);
    float: none;
    margin-bottom: modular-scale(2, 3/4*$modular-scale-base);
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    float: none;
    margin-bottom: modular-scale(2, 3/4*$modular-scale-base);
  }
}
figcaption a span.attribution {
  color: #933;
}
.lightbox-link {
  border-bottom: none;
}
.image figure {
  margin-top: 0;
}
figcaption {
  margin-top: modular-scale(-1);
  font-family: $serif;
  font-size: modular-scale(-1, 5/4*$modular-scale-base);
  line-height: modular-scale(1);
  color: rgb(102,102,102);
}
figcaption span.attribution {
  font-family: $sans-serif;
  display: block;
  text-transform: uppercase;
  color: rgb(153,153,153);
}
figcaption span.attribution a {
  border-bottom: none;
}
.image figcaption {
  font-size: modular-scale(0);
}
.article-tags {
  padding-left: 0;
  margin: 0 0 modular-scale(2, 3/4*$modular-scale-base);
  @include span-columns(8);
  @include shift(2);
  @include media($tablet) {
    @include span-columns(6);
    @include shift(0);
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
  }
}
.article-tags li {
  padding: 10px 0;
  margin-right: modular-scale(-2);
  list-style-type: none;
  float: left;
  font-family: $sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(153,153,153);
}
.article-tags li:first-child {
  padding: 10px 15px;
  margin-right: 15px;
  color: rgb(153,51,51);
  border-right: 3px solid rgb(153,51,51);
  text-transform: none;
}
.article-tags li a {
  color: rgb(153,153,153);
  text-decoration: none;
  &:hover {
    color: rgb(153,51,51);
  }
}

// Homepage
.frontend_homepage_show {
  #border-top: 10px solid rgb(153,51,51);
  @include media($mobile) {
    border-top: 0;
  }
}
.frontend_homepage_show .navbar.up {
  @include media($mobile) {
    top: 0;
  }
}
.frontend_homepage_show .container {
  margin-top: 50px;
  @include media($mobile) {
    margin-top: 65px;
  }
}
.nameplate {
  @include row();
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(153,153,153);
  @include media($mobile) {
    display: none;
  }
}
.nameplate-logo {
  @include span-columns(2);
}
.nameplate-nav {
  @include span-columns(10);
}
.nameplate-top,
.nameplate-bottom {
  @include span-columns(10);
}
.nameplate-top {
  position: absolute;
  bottom: 50px;
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(flex-end);
}
.nameplate h1 {
  margin: 0;
  font-size: modular-scale(1, 5/4*$modular-scale-base);
  font-family: $serif;
  font-weight: 300;
  color: rgb(153,51,51);
}
.nameplate-top ul {
  margin: 0 0 5px;
  padding: 0;
  text-align: right;
  font-size: modular-scale(0);
}
.nameplate-top li {
  padding: 0 1em;
  display: inline;
  list-style-type: none;
  font-family: $sans-serif;
  color: rgb(153,153,153);
  border-right: 1px solid rgb(153,153,153);

}
.nameplate-top li:last-child {
  padding-right: 0;
  border: 0;
}
.nameplate-top a {
  color: rgb(153,153,153);
  text-decoration: none;
  &:hover {
    color: rgb(102,102,102);
  }
}
.nameplate-top .fa,
.nameplate-top .wi {
  margin-left: 10px;
}
.nameplate-bottom {
  position: absolute;
  bottom: 10px;
}
.nameplate-bottom ul {
  margin: 0;
  padding: 10px 0 0;
  border-top: 1px solid rgb(153,153,153);
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(flex-end);
}
.nameplate-bottom li {
  list-style-type: none;
  font-family: $sans-serif;
}
.nameplate-bottom a {
  text-decoration: none;
  color: rgb(0,0,0);
  &:hover {
    color: rgb(153,51,51);
  }
}
#rss {

  @include media($tablet) {
    display: none;
  }

}

.row {
  @include row();
  @include display(flex);
  @include flex-wrap(wrap);

  padding-left: 4px;
  padding-right: 4px;

}
.module {
  margin-bottom: modular-scale(1);
  @include media($mobile) {
    margin-bottom: 0;
    margin-top: modular-scale(-1);
  }
}
.module-col-1 {
  @include span-columns(3);
  @include media($tablet) {
    @include span-columns(3);
  }
  @include media($mobile) {
    @include span-columns(4);
    @include omega();
  }
}
.module-col-1 + .module-col-1:nth-child(2) {
  @include media($tablet) {
    @include omega();
  }
}
.module-col-2 {
  @include span-columns(6);
  @include media($tablet) {
    @include span-columns(6);
    @include omega();
  }
  @include media($mobile) {
    @include span-columns(4);
    @include omega();
  }
}
.module-col-1 + .module-col-2:nth-child(2) {
  @include media($tablet) {
     @include order(2);
  }
}
.module-col-4 {
  @include span-columns(12);
  @include media($tablet) {
    @include span-columns(6);
    @include omega();
  }
  @include media($mobile) {
    @include span-columns(4);
    @include omega();
  }
}
.module-article .headline {
  font-size: modular-scale(0, 5/4*$modular-scale-base);
  margin-bottom: modular-scale(-4);
}
.module-article .headline a {
  color: rgb(0,0,0);
  text-decoration: none;
  &:hover {
    color: rgb(102,102,102);
  }
}
.module-article .section,
.module-article .primary-tag,
.module-article .article-meta {
  font-size: modular-scale(-1, 5/4*$modular-scale-base);
}
.module-article .article-meta {
  font-family: $sans-serif;
  margin-top: 0;
  margin-bottom: modular-scale(-2);

  a {
    color: #933;

    &:hover {
    color: inherit;
    }
  }
}
.module-article .lede {
  font-family: $serif;
  font-size: modular-scale(0, 3/4*$modular-scale-base);
  line-height: modular-scale(1);
  margin: 0;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.module-img img,
.module-img-nocaption img {
  width: 100%;
}
.module-img figcaption {
  font-size: modular-scale(2, 1/4*$modular-scale-base);
}
.module-img .attribution a {
  text-decoration: none;
}
.module-links ul {
  padding: 0;
  margin: 0;
}
.module-links li {
  list-style-type: none;
}
.module-links ul .headline {
  font-size: modular-scale(-1, 5/4*$modular-scale-base);
  font-style: normal;
  display: inline;
  color: rgb(0,0,0);
  text-decoration: none;
  &:hover {
    color: rgb(102,102,102);
  }
}
.module-sub.module-links {
  margin: modular-scale(-2) 0 0;
}
.module-links ul .article-meta {
  font-size: modular-scale(0, 3/4*$modular-scale-base);
}
.module-links ul .article-meta:after {
  content: "";
  display: block;
  visibility: none;
  height: modular-scale(0);
}
.module-links ul .article-meta:last-child:after {
  height: 0;
}
.row:first-of-type .module:first-child .module-sub:first-child {
  @include media($mobile) {
    border-top: none;
  }
}
.module-sub {
  margin: modular-scale(0, $modular-scale-base) 0 0;

  @include media($mobile) {
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.module-sub:first-child {
  margin-top: 0;
}
.btf-section {
  @include row();
  padding-bottom: modular-scale(0);
  border-top: 1px solid rgb(204,204,204);
  margin-bottom: modular-scale(-2);
}
.btf-section:first-child {
  @include media($mobile) {
    margin-top: modular-scale(1);
  }
}
.btf-section .section {
  @include span-columns(12);
  margin-top: modular-scale(-2);
  margin-bottom: modular-scale(-1);
}
.btf-article {
  @include span-columns(2);
  @include media($tablet) {
    display: none;
  }
  @include media($mobile) {
    display: none;
  }
  min-height: 260px;
  height: max-content;
  overflow: hidden;
}
.btf-article:nth-child(2) {
  @include media($tablet) {
    @include span-columns(3);
    display: block;
  }
}
.btf-article .article-meta .byline {
  margin-right: 2px;

  &:after {
    content: none;
  }
}
.btf-article-img .headline,
.btf-article-list .headline {
  font-size: modular-scale(-1, 3/2*$modular-scale-base);
  font-weight: 400;
  margin-top: 0;
  display: inline;
  font-style: normal;
}
.btf-article-list .headline {
  margin-right: modular-scale(-3);
}
.btf-article-noimg .headline {
  font-size: modular-scale(0, 9/8*$modular-scale-base);
  font-weight: 400;
  margin-top: 0;
  display: inline;
  font-style: normal;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btf-article .headline a,
.btf-article-list .headline a {
  color: rgb(0,0,0);
  text-decoration: none;
  &:hover {
    color: rgb(102,102,102);
  }
}
.btf-article .article-meta,
.btf-article-list .article-meta {
  font-size: modular-scale(0, 3/4*$modular-scale-base);
  display: inline-block;
  margin: 0;
}
.btf-article .lede {
  font-family: $serif;
  font-size: modular-scale(-1, 5/4*$modular-scale-base);
  line-height: modular-scale(0, 3/2*$modular-scale-base);
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btf-article-img img {
  width: 100%;
  margin-bottom: modular-scale(-1);
}
.btf-article-list {
  @include span-columns(6);
  @include media($tablet) {
    @include span-columns(3);
  }
  @include media($mobile) {
    @include span-columns(4);
  }
  margin: 0;
  padding: 0;
}
.btf-article-list li {
  list-style-type: none;
  padding: modular-scale(-1) 0;
  border-bottom: 1px solid rgb(238,238,238);
}
.btf-article-list li:nth-child(-n+3) {
  display: none;

  @include media($mobile) {
    display: list-item;
  }
}
.btf-article-list li:nth-child(n+2):nth-child(-n+3) {
  @include media($tablet) {
    display: list-item;
  }
}
.btf-article-list li:nth-child(4) {
  @include media($desktop) {
    padding-top: 0;
  }
}
.btf-article-list li:last-child {
  border-bottom: 0;
  @include media($mobile) {
    display: none;
  }
}
.btf-article-list li:nth-last-child(2) {
  @include media($mobile) {
    border-bottom: 0;
  }
}
.btf-article-list li:last-child a {
  color: rgb(153,51,51);
  &:hover {
    color: rgb(102,102,102);
  }
}
.btf-section-link {
  font-family: $sans-serif;
  text-decoration: none;
}

// List pages
.list-sidebar {
  position: fixed;
  width: 1170px;
  height: 0;
  @include media($desktop) {
    width: 970px;
  }
  @include media($tablet) {
    width: 750px;
    position: relative;
  }
  @include media($mobile) {
    width: auto;
    position: relative;
  }
}
.list-articles {
  @include span-columns(9);
  @include shift(3);
  @include media($tablet) {
    @include span-columns(6);
    @include shift(0);
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
  }
}
.list-sidebar-content {
  @include span-columns(3);
  @include media($tablet) {
    @include span-columns(6);
  }
  @include media($mobile) {
    @include span-columns(4);
  }
}
.list-header {
  font-family: $sans-serif;
  font-size: modular-scale(1);
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(153,51,51);
}
.list-count {
  font-family: $sans-serif;
  font-size: modular-scale(0, 5/4*$modular-scale-base);
  margin: 0 0 modular-scale(-1);
  font-weight: 300;
  color: rgb(153,153,153);
}
.list-article {
  @include row();
  border-top: 1px solid rgb(238,238,238);
  padding: modular-scale(0) 0;
}
.list-article:first-child {
  border-top: 0;
  padding-top: 0;
  @include media($tablet) {
    border-top: 1px solid rgb(204,204,204);
    padding-top: modular-scale(0);
  }
  @include media($mobile) {
    border-top: 1px solid rgb(204,204,204);
    padding-top: modular-scale(0);
  }
}
.list-article .article-info {
  @include span-columns(9);
  @include media($tablet) {
    @include span-columns(6);
    float: none;
  }
  @include media($mobile) {
    @include span-columns(4);
    float: none;
  }
}
.list-article .article-thumbnail {
  @include span-columns(3);
  @include omega();
  float: right;
  margin-top: modular-scale(1);
  @include media($tablet) {
    width: 25%;
    margin: 0 0 0 modular-scale(1);
  }
  @include media($mobile) {
    width: 33%;
    margin: modular-scale(1) 0 0 modular-scale(-1);
  }
}
.list-article .headline {
  font-size: modular-scale(1);
  @include media($mobile) {
    font-size: modular-scale(1, 3/4*$modular-scale-base)
  }
}
.list-article .headline a {
  text-decoration: none;
  color: rgb(0,0,0);
  &:hover {
    color: rgb(102,102,102);
  }
}
.list-article .article-meta {
  margin: modular-scale(-3) 0 modular-scale(-1);
}
.list-article .lede {
  font-family: $serif;
  font-size: modular-scale(1, 1/2*$modular-scale-base);
  line-height: modular-scale(1);
  margin-bottom: 0;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.list-article img {
  width: 100%;
}
.list-sidebar .pagination {
  @include media($tablet) {
    display: none;
  }
  @include media($mobile) {
    display: none;
  }
}
.list-articles .pagination {
  display: none;
  @include media($tablet) {
    @include display(flex);
    @include justify-content(center);
  }
  @include media($mobile) {
    @include display(flex);
    @include justify-content(center);
  }
}
.list-images .pagination {
  display: none;
  @include media($tablet) {
    @include display(flex);
    @include justify-content(center);
  }
  @include media($mobile) {
    @include display(flex);
    @include justify-content(center);
  }
}
.list-images-topbar {

  font-family: $sans-serif;

}
.list-images-topbar .pagination {

  overflow: hidden;

}
.pagination {
  font-family: $sans-serif;
  font-size: modular-scale(0);
  color: rgb(204,204,204);
  overflow: auto;
}
.pagination.large {
  font-size: modular-scale(1);
}
.author-sidebar-content .pagination {
  display: table;
  margin: auto;
}
.pagination span {
  min-width: 30px;
  height: 30px;
  margin-right: 5px;
  float: left;
}
.pagination a {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(153,51,51);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  text-decoration: none;
  &:hover {
    border-color: rgb(102,102,102);
    background: rgb(102,102,102);
    color: rgb(255,255,255);
  }
}
.pagination.large a {
  padding-bottom: 2px;
}
.pagination .inactive {
  color: rgb(204,204,204);
  border-color: rgb(204,204,204);
  cursor: default;
  &:hover {
    background: transparent;
    color: rgb(204,204,204);
  }
}
.pagination .current,
.pagination .gap {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}
.pagination .current {
  background-color: rgb(153,51,51);
  color: rgb(255,255,255);
}
.list-empty {
  @include shift(-3);
  display: block;
  text-align: center;
  font-family: $sans-serif;
  font-weight: 300;
  color: rgb(102,102,102);
  margin-top: 30vh;
  @include media($tablet) {
    @include shift(0);
    margin-top: 25vh;
  }
  @include media($mobile) {
    @include shift(0);
    margin-top: 25vh;
  }
}
.author-sidebar-content {
  text-align: center;
  @include media($tablet) {
    @include span-columns(4);
    @include shift(1);
    margin-bottom: modular-scale(1);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
  @include media($mobile) {
    margin-bottom: modular-scale(1);
  }
}
.author-portrait {
  width: 50%;
  border-radius: 300px;
  margin-bottom: modular-scale(0);
  @include media($tablet) {
    width: 75%;
    margin-right: modular-scale(1);
    margin-bottom: 0;
    float: left;
  }
}
.author-name {
  font-family: $sans-serif;
  font-size: modular-scale(0, 5/4*$modular-scale-base);
  margin: 0;
  margin-bottom: 20px;
  color: rgb(0,0,0);
  text-transform: none;
}
.author-bio {
  font-family: $serif;
  font-size: modular-scale(0, 3/4*$modular-scale-base);
  line-height: modular-scale(1);
  margin-top: modular-scale(1, 3/4*$modular-scale-base);
  @include media($mobile) {
    font-size: modular-scale(0);
  }
}
.author-social {
  margin-bottom: 10px;
  }
.author-social a {
  font-family: $sans-serif;
  font-size: modular-scale(0, 3/4*$modular-scale-base);
  text-decoration: none;
  @include media($mobile) {
    font-size: modular-scale(0);
  }
  &:hover {
    color: rgb(102,102,102);
  }
}
.author-social a:nth-child(2) {
  margin-left: modular-scale(0);
}
.author-social a:first-child i {
  color: rgb(51,51,51);
  margin-right: modular-scale(-3);
}
.author-social a:nth-child(2) i {
  color: rgb(85,172,238);
}
.error-msg {
  display: block;
  text-align: center;
  margin-top: 15vh;
  @include media($tablet) {
    @include shift(0);
    margin-top: 10vh;
  }
  @include media($mobile) {
    @include shift(0);
    margin-top: 10vh;
  }
}
.error-code,
.error-back {
  font-family: $sans-serif;
  font-weight: 300;
}
.error-code {
  color: rgb(51,51,51);
  margin-bottom: modular-scale(-3);
}
.error-back {
  color: rgb(102,102,102);
  margin-top: modular-scale(-3);
}
.error-back a {
  text-decoration: none;
  border-bottom: 1px dotted rgb(153,153,153);
  &:hover {
    color: rgb(102,102,102);
  }
}

#legacy_comments {
  font-family: Merriweather, Georgia, serif;

  .comment-count {
    color: rgb(63, 69, 73);
    display: block;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    padding: 15px 0;
    border-bottom: 2px solid rgb(153, 51, 51);

    span {
      padding-left: 10px;
    }
  }

  .legacy-comment {
    .index {
      height: 60px;
      line-height: 60px;
      font-size: 50px;
      color: rgb(153, 51, 51);
      text-align: center;
      margin-right: 10px;
      margin-left: 20px;
      margin-bottom: 10px;
      float: right;
    }

    .content {
      .author-name {
        color: rgb(153, 51, 51);
        font-size: 1em;
        font-weight: bold;
      }

      .publish-time {
        font-size: 1em;
        color: #888;
        margin-left: 5px;
      }

      p {
        margin-left: 0;
        font-size: 1em;
        margin: 15px 0;
        width: 100%;
        line-height: 1.65em;

        a {
          text-decoration: none;
        }
      }

      padding-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }

    &:first-child {
      margin-top: 25px;
    }

    &:last-child {
      border-bottom: none;
    }

    border-bottom: 2px solid #ddd;

    padding-bottom: 20px;
    margin: 35px 0;
    overflow: hidden;
  }

  width: 100%;
  display: block;
  margin-top: 150px;
  box-sizing: content-box;
}

#below_fold_preview_container {
  @include outer-container;
}

// Ads

.ad-homepage-top, .ad-homepage-bottom {
  width: 100%;//this used to be 80% but caused sizes to be smaller than customers paid for
  margin-left: 10%;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.ad-homepage-section, .ad-homepage-opinion, .ad-homepage-arts, .ad-homepage-sports, .ad-homepage-news {
  margin-top: 10px;
  width: 100%;
}

.ad-piece-left {
  margin-top: 20px;
  width: 100%;
}

.ad-piece-right {
  @include span-columns(2 of 12);
  float: right;
}

// Image search


.frontend_search {
  .pagination-wrap {
    text-align: center;
    margin-top: 30px;

    .pagination {
      display: inline-block;
    }
  }

  .image-search-topbar {
    margin-bottom: 50px;

    p {
      text-align: center;
      font-family: $sans-serif;
      font-size: 30px;
      font-weight: 300;

      .matching {
        color: #aaa;
      }
    }
  }
}

.search-toggle-bar {
  margin-bottom: 30px;

  .search-toggle-wrap {
    text-align: center;

    span {
      font-family: $sans-serif;
      font-size: 20px;
      font-weight: 300;

      &.divider {
        padding-left: 10px;
        padding-right: 10px;
      }

      &.active {
        a {
          color: #aaa;
        }
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.lb-caption {
  font-family: $serif !important;
  font-size: 12px !important;
  line-height: 1.2em !important;
}

.lb-dataContainer {
  padding-top: 10px !important;
}

.lightboxOverlay {
  opacity: 0.9 !important;
}

[data-ads] {
  display: none;
}

[data-ads=piece_sidebar] {
  @include media($mobile) {
    display: none !important;
  }
}

.static-pages-nav {
  @include span-columns(3 of 12);
  position: static;
  height: 0;

  @include media($tablet) {
    @include span-columns(4 of 12);
  }

  @include media($mobile) {
    display: none;
  }

  ul {
    margin-top: modular-scale(-1);
    padding-left: 0;
    li {
      a {
        font-family: $sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 300;
        color: black;
        text-decoration: none;
        padding-left: 10px;
        padding-bottom: 2px;

        &.active {
          color: rgb(153,51,51);
          border-left: 3px solid rgb(153,51,51);
          position: relative;
          left: -3px;
          font-weight: 500;
        }

        &:hover {
          color: rgb(102, 102, 102);
        }
      }

      list-style-type: none;
      margin-bottom: 4px;
    }
  }
}

.static-pages-content {
  @include span-columns(6 of 12);
  @include shift(3 of 12);
  font-family: $sans-serif;

  @include media($tablet) {
    @include span-columns(8 of 12);
    @include shift(4 of 12);
  }

  @include media($mobile) {
    @include span-columns(12 of 12);
    @include shift(0 of 12);
  }

  p, li, blockquote {
    font-family: $serif;
    line-height: modular-scale(1);
  }
  blockquote {
    font-family: $sans-serif;
  }
  h1 {
    font-family: $sans-serif;
    font-size: modular-scale(2);
    font-weight: 500;
    margin-top: 0;
  }
  h2 {
    font-family: $sans-serif;
    font-size: modular-scale(1);
    font-weight: 500;
  }
  h3 {
    font-family: $sans-serif;
    font-size: modular-scale(1, 3/4*$modular-scale-base);
    font-weight: 300;
    font-style: italic;
  }
  a {
    text-decoration: none;
    border-bottom: 1px dotted rgb(153,153,153);
    &:hover {
      color: rgb(0,0,0);
    }
  }
  .btn-donate {
    display: block;
    width: 50%;
    font-family: $serif;
    font-weight: bold;
    font-size: modular-scale(2, 3/4*$modular-scale-base);
    font-style: italic;
    border-bottom: 0;
    background: rgb(153,51,51);
    color: rgb(255,255,255);
    padding: modular-scale(-1) modular-scale(0);
    margin: modular-scale(1) auto;
    text-align: center;
    &:hover {
      color: rgb(255,255,255);
      background-color: rgb(102,102,102);
    }
  }

  /* CSS for The Tech's Masthead */

  /* I know the following is kind of weird and doesn't match with the rest of the site,
     but I just copied this over from our current site
     and I think it's good enough for now --leonxlin */

  div.exec {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  div.exec h2 {
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 0;
  }

  div.department {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  div.department h2 {
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 0;
    border-bottom-width: thin;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  div.department div {
    margin-top: 0.25em;
    text-align: justify;
  }

  /* CSS for the publication calendar */
  .flex-container{
    flex-direction: column;
    table{
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
    }
    
    td{
      text-align: center;
    }
  
    .month{
      padding: 2px;
      width: 50% !important;
    }
  }


  .circulation th {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 0.5em;
  }

  .calendar {
    border-collapse: separate;
    text-align: center;
  }

  #issuekey {
    color: rgb(102, 102, 102);
  }
  #specialkey {
    color: rgb(153, 102, 102);
  }
  .issue {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
  }
  .special {
    background-color: rgb(153, 102, 102);
    color: rgb(255, 255, 255);
  }
}

.slideshow {

  float: right;
  width: 45%;

  @include media($tablet) {

    width: 100%;

  }

  @include media($mobile) {

    width: 100%;

  }

}

.slideshow:hover .slick-arrow {

  opacity: 0.8;

}

.slick-arrow {

  height: auto;
  width: 50px;
  height: 100px;

  padding-right: -10px;

  display: block;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: -75px;
  z-index: 2;

  background-image: image-url("arrow.svg") !important;
  background-repeat: no-repeat !important;
  background-size: 20px !important;
  background-position: center !important;

  opacity: 0;

  @include media($tablet) {

    opacity: 0.8;

  }

  @include media($mobile) {

    display: none !important;

    width: 0px;
    height: 0px;

  }

}

.slick-arrow:hover {

  opacity: 1 !important;

}

.slick-arrow:before {
  display:none;
}

.slick-prev {

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
   -ms-filter: "FlipH";

}

figure.article-img {
  font-size: 1.2em;
  margin-bottom: 0;

  a {
    text-decoration: none;
    border-bottom: none;
  }

  img {
    width: 100%;
  }

  figcaption {
    margin-top: 0.3em;
  }
}

.slick-dots {
  margin-top: 0;
}

.slick-dots li {
  margin-left: 0;
  margin-right: 0;
}

.slick-dots li button:before {
  font-size: 12px;
}

h2.attribution a {
  border-bottom: none;
}
