#articles_edit, #articles_new, #articles_create, #articles_update, #article_versions_revert {
  .bootstrap-tagsinput {
    width: 100% !important;
  }

  .new-asset-btn {
    width: 100%;
  }

  #article_assets_list {
    height: 471px;
    overflow: scroll;

    .article_list {
      width: 100%;
    }

    a {
      margin-bottom: 10px;
    }

    .asset-candidate {
      width: 100%;
      margin-bottom: 10px;

      &:hover {
        opacity: 0.5;
      }
    }

  }
}

#articles_index, #issues_show, #sections_show, #authors_show {
  p {
    padding: 0;
    margin-bottom: 5px;
  }

  .headline {

  }

  .extra-info {
    color: #aaa;
  }

  .slug {
    font-weight: bold;
  }

  .not_ready {
    background-color: rgba(252, 58, 58, 1);

    td, td p, a, span {
      color: white;
    }
  }
}
