.asset-candidate {
  width: 100%;

  &:hover {
    opacity: 0.5;
  }
}

#articles_edit, #articles_new {
  .bootstrap-tagsinput {
    width: 100% !important;
  }
}

#articles_index {
  p {
    padding: 0;
    margin-bottom: 5px;
  }

  .headline {

  }

  .byline {
    color: #aaa;
  }
}