.module:hover {
  border: 1px solid red;
}

.module {
  min-height: 50px;
}

.submodule {
  &:not(:hover) {
    .editing-toolbar {
      display: none;
    }
  }

  &:hover {
    .editing-toolbar {
      display: block;
    }

    border: 1px solid black;
  }
}

.row {
  &:not(:hover) {
    .row-editing-toolbar {
      display: none;
    }
  }

  &:hover {
    .row-editing-toolbar {
      display: block;
    }

    border: 1px solid green;
  }

  .row-editing-toolbar {
    width: 100%;
  }
}

.editing-toolbar, .row-editing-toolbar {
  a {
    float: right;
    color: rgb(153,51,51);
    text-decoration: none;
    font-size: 15px;
  }

  overflow: auto;
  margin-bottom: 3px;
  margin-top: 2px;
}