/*
 *= require_self
 *= require weather-icons
 */

@import "variables";

// Globals
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  @include display(flex);
  @include flex-direction(column);
  overflow-x: hidden;
}
a {
  color: rgb(153,51,51);
}
.container {
  @include outer-container;
  max-width: 1170px;
  @include media($desktop) {
    max-width: 970px;
  }
  @include media($tablet) {
    max-width: 750px;
  }
  @include media($mobile) {
    max-width: 100%;
    padding: 0 25px;
  }
  width: 100%;
  margin-top: 75px;
  position: relative;
  @include flex(1);
  left: 0;
  @include transition(left 0.3s ease-in-out);
  &.in {
    left: 240px;
  }
}

// Navbar
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 50px;
  border-bottom: 1px solid rgb(204,204,204);
  z-index: 1;
  background-color: rgb(255,255,255);
  // box-shadow: 0 1px 4px rgba(153,153,153,0.3);
  @include transition(top 0.3s ease-in-out, left 0.3s ease-in-out, margin-left 0.15s ease-in-out 0.15s);
  &.in {
    left: 240px;
  }
  &.up {
    top: -50px;
  }
  &.search {
    left: -100%;
    margin-left: 50px;
  }
}
.navbar-menu {
  width: 50px;
  height: 50px;
  position: fixed;
  background-color: rgb(153,51,51);
}
.navbar-menu span {
  height: 3px;
  width: 25px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  left: 12px;
  top: 15px;
  border-radius: 2px;
  background-color: rgb(255,255,255);
  // &:nth-child(2n) { @include transition(transform 0.45s ease-in-out); }
  // &:nth-child(3) { @include transition(opacity 0.45s ease-in-out); }
}
.navbar-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  @include transition(opacity 0.3s ease-in-out);
}
.navbar-menu:hover .navbar-logo,
.in .navbar-logo {
  opacity: 0;
}
.in .navbar-menu span {
  // &:nth-child(2) { @include transform(translateY(8px) rotate(45deg)); }
  // &:nth-child(3) { opacity: 0; }
  // &:last-child { @include transform(translateY(-8px) rotate(-45deg)); }
}
.navbar-title,
.article-title {
  margin: 25px 15px;
  position: absolute;
  left: 50px;
  font-size: modular-scale(0);
  font-family: $serif;
  line-height: 0;
  color: rgb(0,0,0);
  text-decoration: none;
}

.navbar-feedback,
.navbar-feedback-alt {
  position: absolute;
  right: 52%;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  background-color: #933;
  font-family: $sans-serif;
  font-weight: 500;

  padding: 6px 10px;
  border-radius: 3px;
  margin-top: 10px;

  @include media($tablet) {
    right: 53%;
  }

  @include media($mobile) {
    right: 58%;
  }
}

.navbar-feedback-alt {
  display: none;

  @include media($mobile) {
    display: block;
  }
}

.navbar-feedback {
  display: block;

  @include media($mobile) {
    display: none;
  }
}

.navbar-title,
.navbar-feedback,
.navbar-feedback-alt {
  opacity: 1;
  @include transition(opacity 0 ease-in-out 0.3s);
  // @include media($mobile) {
  //   width: 100%;
  //   margin-left: -50px;
  //   text-align: center;
  // }
  &.hidden {
    opacity: 0;
    @include transition-delay(0.2s);
    @include media($mobile) {
      opacity: 1;
    }
  }
}
.article-title {
  opacity: 1;
  @include transition(opacity 0 ease-in-out 0.3s);
  @include media($mobile) {
    opacity: 0;
  }
  &.hidden {
    @include transition-duration(0.2s);
    @include transition-delay(0);
    opacity: 0;
    pointer-events: none;
  }
}
.navbar-search-icon {
  width: 50px;
  height: 50px;
  border-bottom: 1px solid rgb(204,204,204);
  position: absolute;
  right: 50%;
  z-index: 1;
  text-align: center;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  -webkit-appearance: none;
     -moz-appearance: none;
  @include media($tablet) {
    &:before {
      content: "";
      width: 25px;
      height: 50px;
      display: block;
      position: absolute;
      right: 50px;
    }
  }
  @include media($mobile) {
    &:before {
      content: "";
      width: 25px;
      height: 50px;
      display: block;
      position: absolute;
      right: 50px;
    }
  }
}
.navbar-search-icon i,
.homepage-search-icon i {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}
.homepage-search-icon {
  width: 50px;
  height: 50px;
  border-top: 10px solid rgb(153,51,51);
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  -webkit-appearance: none;
     -moz-appearance: none;
  @include media($tablet) {
    display: none;
  }
  @include media($mobile) {
    display: none;
  }
}
.navbar form {
  width: 100%;
  height: 49px;
  margin-left: 50%;
}
.navbar-search {
  font-family: $sans-serif;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 0;
  font-size: modular-scale(1, 3/4*$modular-scale-base);
  &:focus {
    outline: none;
  }
}

// Sidenav
.profiler-results {
  display: none !important;
}
.sidenav {
  position: fixed;
  left: -240px;
  top: 0;
  width: 240px;
  min-height: 100%;
  @include display(flex);
  @include flex-direction(column);
  background-color: rgb(51,51,51);
  @include transition(left 0.3s ease-in-out);
  &.in {
    left: 0;
  }
}
.sidenav ul {
  height: 100vh;
  padding: 15px;
  margin: 0;
  @include flex(1);
  overflow-y: auto;
}
.sidenav li {
  font-family: $sans-serif;
  font-size: modular-scale(0);
  margin-bottom: modular-scale(0);
  list-style-type: none;
}
.sidenav li:last-child {
  padding-bottom: 25px;
}
.sidenav .separator {
  margin-top: modular-scale(2);
  // padding-top: modular-scale(-3);
  // border-top: 1px solid rgb(102,102,102);
  // font-size: modular-scale(0);
  // text-transform: uppercase;
  // color: rgb(102,102,102);
}
.sidenav a {
  color: rgb(204,204,204);
  text-decoration: none;
  &:hover {
    color: rgb(255,255,255);
  }
}
.sidenav form {
  width: 210px;
  height: 50px;
  margin: -40px 15px 0;
  padding: 15px 0;
  background-color: rgb(51,51,51);
  border-top: 1px solid rgb(102,102,102);
  z-index: 2;
  &:before {
    content: "\f002";
    font-family: "FontAwesome";
    position: relative;
    top: -5px;
    color: rgb(255,255,255);
  }
}
.sidenav-search {
  width: 100%;
  height: 100%;
  padding: 0 8px 0 20px;
  border: 0;
  position: relative;
  top: -25px;
  // padding: 5px 8px 5px 25px;
  // border: 1px solid rgb(204,204,204);
  // border-radius: 15px;
  font-size: modular-scale(0);
  font-family: $sans-serif;
  background-color: transparent;
  color: rgb(255,255,255);
  -webkit-appearance: none;
     -moz-appearance: none;
  // @include transition(border-color 0.15s ease-in-out);
  &:focus {
    outline: none;
    // border-color: rgb(255,255,255);
  }
}

// Footer
footer {
  height: 170px;
  margin-top: modular-scale(2, 3/4*$modular-scale-base);
  background-color: rgb(249,249,249);
  position: relative;
  left: 0;
  @include transition(left 0.3s ease-in-out);
  &.in {
    left: 240px;
  }
}
.footer-content {
  @include outer-container;
  max-width: 1170px;
  @include media($desktop) {
    max-width: 970px;
  }
  @include media($tablet) {
    max-width: 750px;
  }
  @include media($mobile) {
    max-width: 100%;
    padding: 0 25px;
  }
  padding: modular-scale(2, 3/4*$modular-scale-base) 0;
}
.footer-content,
.footer-content div {
  height: 100%;
}
.footer-contact {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(4);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
}
.footer-sections,
.footer-static,
.footer-social {
  @include span-columns(2);
  @include media($mobile) {
    display: none;
  }
}
.footer-content ul {
  padding: 0;
  margin: 0;
  font-weight: 300;
}
.footer-content li {
  list-style-type: none;
  font-family: $sans-serif;
  font-size: modular-scale(-1, 5/4*$modular-scale-base);
  margin-bottom: modular-scale(-3);
}
.footer-content a {
  text-decoration: none;
  &:hover {
    color: rgb(102,102,102);
  }
}
.footer-logo {
  margin-top: modular-scale(0);
  float: left;
  width: 80px;
}
.footer-contact ul {
  margin-left: 120px;
  @include media($mobile) {
    margin-left: 60px;
  }
}
.footer-contact li {
  color: rgb(153,153,153);
}
.footer-contact li:first-child {
  margin-top: modular-scale(1);
  color: rgb(0,0,0);
  font-weight: 700;
  text-transform: uppercase;
}
.footer-social li:last-child {
  color: rgb(153,153,153);
}

// Article
article {
  overflow: auto;
}
.section,
.primary-tag {
  font-family: $sans-serif;
  font-size: modular-scale(0);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: rgb(153,51,51);
  margin-bottom: 0;
  border-bottom: 0;
  &:hover {
    color: rgb(102,102,102);
  }
}
article .primary-tag,
.article-info .primary-tag
{
  font-weight: 300;
  margin-left: modular-scale(-2);
}
.headline {
  font-family: $serif;
  font-size: modular-scale(2);
  font-weight: 700;
  font-style: italic;
  margin: modular-scale(-4) 0 0;
}
.subhead {
  font-family: $sans-serif;
  font-size: modular-scale(1);
  font-weight: 300;
  color: rgb(153,153,153);
  margin: 0 0 modular-scale(-1);
  padding-bottom: modular-scale(-1);
  border-bottom: 1px solid rgb(204,204,204);
}
.article-meta {
  font-family: $sans-serif;
  font-size: modular-scale(0);
  font-weight: 400;
  color: rgb(153,153,153);
  margin: modular-scale(0) 0 modular-scale(2, 3/4*$modular-scale-base);
}
.article-meta a {
  color: rgb(153,51,51);
  text-decoration: none;
  border-bottom: 0;
  &:hover {
    color: rgb(102,102,102);
  }
}
.article-meta .byline {
  &:after {
    content: "|";
    margin: 0 modular-scale(-1);
  }
}
.correction {
  font-style: italic;
}
.article-social {
  @include span-columns(2);
  @include media($tablet) {
    // TODO: figure out what to do here
    display: none;
  }
  @include media($mobile) {
    // TODO: figure out what to do here
    display: none;
  }
  padding: 0;
  margin: 0;
  float: left;
}
.article-social li {
  list-style-type: none;
  font-family: $sans-serif;
  font-size: modular-scale(-1, 3/2*$modular-scale-base);

}
.article-social li:first-child a {
  padding-top: 0;
}
.article-social li:last-child a {
  padding-bottom: 15px;
  border-bottom: 0;
}
.article-social a {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid rgb(204,204,204);
  display: block;
  color: rgb(153,153,153);
  text-decoration: none;
  &:hover {
    color: rgb(153,153,153);
    i.fa {
      color: rgb(153,153,153);
    }
  }
}
.article-social i {
  margin-right: 15px;
  &.fa-envelope { color: rgb(153,51,51); }
  &.fa-facebook-square { color: rgb(59,89,152); }
  &.fa-twitter { color: rgb(85,172,238); }
  &.fa-reddit { color: rgb(255,165,0); }
  &.fa-print { color: rgb(153,51,51); }
}
article p {
  @include span-columns(8);
  @include shift(2);
  float: none;
  @include media($tablet) {
    @include span-columns(6);
    @include shift(0);
    float: none;
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    float: none;
  }
  font-family: $serif;
  font-size: modular-scale(1, 5/8*$modular-scale-base);
  line-height: modular-scale(1);
  margin-top: 0;
  margin-bottom: modular-scale(1);
}
article h3 {
  @include span-columns(8);
  @include shift(2);
  float: none;
  @include media($tablet) {
    @include span-columns(6);
    @include shift(0);
    float: none;
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    float: none;
  }
  font-family: $sans-serif;
  font-size: modular-scale(1, 3/4*$modular-scale-base);
  line-height: modular-scale(1, 3/4*$modular-scale-base);
  margin-top: 0;
  margin-bottom: modular-scale(1, 5/8*$modular-scale-base);
}
article a {
  text-decoration: none;
  border-bottom: 1px dotted rgb(153,153,153);
  &:hover {
    color: rgb(0,0,0);
  }
}
figure.right {
  width: 50%;
  float: right;
  margin: 0 0 modular-scale(0) modular-scale(2, 3/4*$modular-scale-base);
  @include media($tablet) {
    width: 100%;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
  @include media($mobile) {
    width: 100%;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
}
figure.left {
  width: 50%;
  float: left;
  margin: 0 modular-scale(2, 3/4*$modular-scale-base) modular-scale(0) 0;
  @include media($tablet) {
    width: 100%;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
  @include media($mobile) {
    width: 100%;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
}
figure.default {
  @include span-columns(8);
  @include shift(2);
  margin-bottom: modular-scale(2, 3/4*$modular-scale-base);
  @include media($tablet) {
    @include span-columns(6);
    float: none;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
  @include media($mobile) {
    @include span-columns(4);
    float: none;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
}
.article-social + figure.default {
  @include shift(0);
}

figure.standalone {
  @include span-columns(8);
  margin-bottom: modular-scale(2, 3/4*$modular-scale-base);
  @include media($tablet) {
    @include span-columns(6);
    float: none;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
  @include media($mobile) {
    @include span-columns(4);
    float: none;
    margin: 0 0 modular-scale(2, 3/4*$modular-scale-base) 0;
  }
}

figure.full {
  @include span-columns(12);
  @include shift(0);
  @include media($tablet) {
    @include span-columns(6);
    @include shift(0);
    float: none;
    margin-bottom: modular-scale(2, 3/4*$modular-scale-base);
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    float: none;
    margin-bottom: modular-scale(2, 3/4*$modular-scale-base);
  }
}
figcaption a span.attribution {
  color: #933;
}
.lightbox-link {
  border-bottom: none;
}
.image figure {
  margin-top: 0;
}
figure img {
  width: 100%;
}
figcaption {
  margin-top: modular-scale(-1);
  font-family: $serif;
  font-size: modular-scale(-1, 5/4*$modular-scale-base);
  line-height: modular-scale(1);
  color: rgb(102,102,102);
}
figcaption span.attribution {
  font-family: $sans-serif;
  display: block;
  text-transform: uppercase;
  color: rgb(153,153,153);
}
figcaption span.attribution a {
  border-bottom: none;
}
.image figcaption {
  font-size: modular-scale(0);
}
.article-tags {
  padding-left: 0;
  margin: 0 0 modular-scale(2, 3/4*$modular-scale-base);
  @include span-columns(8);
  @include shift(2);
  @include media($tablet) {
    @include span-columns(6);
    @include shift(0);
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
  }
}
.article-tags li {
  padding: 10px 0;
  margin-right: modular-scale(-2);
  list-style-type: none;
  float: left;
  font-family: $sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(153,153,153);
}
.article-tags li:first-child {
  padding: 10px 15px;
  margin-right: 15px;
  background-color: rgb(153,51,51);
  color: rgb(255,255,255);
  text-transform: none;
}
.article-tags li a {
  color: rgb(153,153,153);
  text-decoration: none;
  &:hover {
    color: rgb(153,51,51);
  }
}

// Homepage
.frontend_homepage_show {
  border-top: 10px solid rgb(153,51,51);
  @include media($mobile) {
    border-top: 0;
  }
}
.frontend_homepage_show .navbar.up {
  @include media($mobile) {
    top: 0;
  }
}
.frontend_homepage_show .container {
  margin-top: 50px;
  @include media($mobile) {
    margin-top: 65px;
  }
}
.nameplate {
  @include row();
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(153,153,153);
  @include media($mobile) {
    display: none;
  }
}
.nameplate-logo {
  @include span-columns(2);
}
.nameplate-nav {
  @include span-columns(10);
}
.nameplate-top,
.nameplate-bottom {
  @include span-columns(10);
}
.nameplate-top {
  position: absolute;
  bottom: 50px;
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(flex-end);
}
.nameplate h1 {
  margin: 0;
  font-size: modular-scale(1, 5/4*$modular-scale-base);
  font-family: $serif;
  font-weight: 300;
  color: rgb(153,51,51);
}
.nameplate-top ul {
  margin: 0 0 5px;
  padding: 0;
  text-align: right;
  font-size: modular-scale(0);
}
.nameplate-top li {
  padding: 0 1em;
  display: inline;
  list-style-type: none;
  font-family: $sans-serif;
  color: rgb(153,153,153);
  border-right: 1px solid rgb(153,153,153);

}
.nameplate-top li:last-child {
  padding-right: 0;
  border: 0;
}
#weather_info {
  display: none;
}
.nameplate-top a {
  color: rgb(153,153,153);
  text-decoration: none;
  &:hover {
    color: rgb(102,102,102);
  }
}
.nameplate-top .fa,
.nameplate-top .wi {
  margin-left: 10px;
}
.nameplate-bottom {
  position: absolute;
  bottom: 10px;
}
.nameplate-bottom ul {
  margin: 0;
  padding: 10px 0 0;
  border-top: 1px solid rgb(153,153,153);
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(flex-end);
}
.nameplate-bottom li {
  list-style-type: none;
  font-family: $sans-serif;
}
.nameplate-bottom a {
  text-decoration: none;
  color: rgb(0,0,0);
  &:hover {
    color: rgb(153,51,51);
  }
}
.row {
  @include row();
  @include display(flex);
  @include flex-wrap(wrap);
}
.module {
  margin-bottom: modular-scale(1);
  @include media($mobile) {
    margin-bottom: 0;
    margin-top: modular-scale(-1);
  }
}
.module-col-1 {
  @include span-columns(3);
  @include media($tablet) {
    @include span-columns(3);
  }
  @include media($mobile) {
    @include span-columns(4);
    @include omega();
  }
}
.module-col-1 + .module-col-1:nth-child(2) {
  @include media($tablet) {
    @include omega();
  }
}
.module-col-2 {
  @include span-columns(6);
  @include media($tablet) {
    @include span-columns(6);
    @include omega();
  }
  @include media($mobile) {
    @include span-columns(4);
    @include omega();
  }
}
.module-col-1 + .module-col-2:nth-child(2) {
  @include media($tablet) {
     @include order(2);
  }
}
.module-col-4 {
  @include span-columns(12);
  @include media($tablet) {
    @include span-columns(6);
    @include omega();
  }
  @include media($mobile) {
    @include span-columns(4);
    @include omega();
  }
}
.module-article .headline {
  font-size: modular-scale(0, 5/4*$modular-scale-base);
  margin-bottom: modular-scale(-4);
}
.module-article .headline a {
  color: rgb(0,0,0);
  text-decoration: none;
  &:hover {
    color: rgb(102,102,102);
  }
}
.module-article .section,
.module-article .primary-tag,
.module-article .article-meta {
  font-size: modular-scale(-1, 5/4*$modular-scale-base);
}
.module-article .article-meta {
  font-family: $sans-serif;
  margin-top: 0;
  margin-bottom: modular-scale(-2);

  a {
    color: inherit;

    &:hover {
      color: #933;
    }
  }
}
.module-article .lede {
  font-family: $serif;
  font-size: modular-scale(0, 3/4*$modular-scale-base);
  line-height: modular-scale(1);
  margin: 0;
}
.module-img img,
.module-img-nocaption img {
  width: 100%;
}
.module-img figcaption {
  font-size: modular-scale(2, 1/4*$modular-scale-base);
}
.module-img .attribution a {
  text-decoration: none;
}
.module-links ul {
  padding: 0;
  margin: 0;
}
.module-links li {
  list-style-type: none;
}
.module-links ul .headline {
  font-size: modular-scale(-1, 5/4*$modular-scale-base);
  font-style: normal;
  display: inline;
  color: rgb(0,0,0);
  text-decoration: none;
  &:hover {
    color: rgb(102,102,102);
  }
}
.module-sub.module-links {
  margin: modular-scale(-2) 0 0;
}
.module-links ul .article-meta {
  font-size: modular-scale(0, 3/4*$modular-scale-base);
}
.module-links ul .article-meta:after {
  content: "";
  display: block;
  visibility: none;
  height: modular-scale(0);
}
.module-links ul .article-meta:last-child:after {
  height: 0;
}
.row:first-of-type .module:first-child .module-sub:first-child {
  @include media($mobile) {
    border-top: none;
  }
}
.module-sub {
  margin: modular-scale(0, $modular-scale-base) 0 0;

  @include media($mobile) {
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.module-sub:first-child {
  margin-top: 0;
}
.btf-section {
  @include row();
  padding-bottom: modular-scale(0);
  border-top: 1px solid rgb(204,204,204);
  margin-bottom: modular-scale(-2);
}
.btf-section:first-child {
  @include media($mobile) {
    margin-top: modular-scale(1);
  }
}
.btf-section .section {
  @include span-columns(12);
  margin-top: modular-scale(-2);
  margin-bottom: modular-scale(-1);
}
.btf-article {
  @include span-columns(2);
  @include media($tablet) {
    display: none;
  }
  @include media($mobile) {
    display: none;
  }
}
.btf-article:nth-child(2) {
  @include media($tablet) {
    @include span-columns(3);
    display: block;
  }
}
.btf-article-img .headline,
.btf-article-list .headline {
  font-size: modular-scale(-1, 3/2*$modular-scale-base);
  font-weight: 400;
  margin-top: 0;
  display: inline;
  font-style: normal;
}
.btf-article-list .headline {
  margin-right: modular-scale(-3);
}
.btf-article-noimg .headline {
  font-size: modular-scale(0, 9/8*$modular-scale-base);
  font-weight: 400;
  margin-top: 0;
  display: inline;
  font-style: normal;
}
.btf-article .headline a,
.btf-article-list .headline a {
  color: rgb(0,0,0);
  text-decoration: none;
  &:hover {
    color: rgb(102,102,102);
  }
}
.btf-article .article-meta,
.btf-article-list .article-meta {
  font-size: modular-scale(0, 3/4*$modular-scale-base);
  display: inline-block;
  margin: 0;
}
.btf-article .lede {
  font-family: $serif;
  font-size: modular-scale(-1, 5/4*$modular-scale-base);
  line-height: modular-scale(0, 3/2*$modular-scale-base);
}
.btf-article-img img {
  width: 100%;
  margin-bottom: modular-scale(-1);
}
.btf-article-list {
  @include span-columns(6);
  @include media($tablet) {
    @include span-columns(3);
  }
  @include media($mobile) {
    @include span-columns(4);
  }
  margin: 0;
  padding: 0;
}
.btf-article-list li {
  list-style-type: none;
  padding: modular-scale(-1) 0;
  border-bottom: 1px solid rgb(238,238,238);
}
.btf-article-list li:nth-child(-n+3) {
  display: none;

  @include media($mobile) {
    display: list-item;
  }
}
.btf-article-list li:nth-child(n+2):nth-child(-n+3) {
  @include media($tablet) {
    display: list-item;
  }
}
.btf-article-list li:nth-child(4) {
  @include media($desktop) {
    padding-top: 0;
  }
}
.btf-article-list li:last-child {
  border-bottom: 0;
  @include media($mobile) {
    display: none;
  }
}
.btf-article-list li:nth-last-child(2) {
  @include media($mobile) {
    border-bottom: 0;
  }
}
.btf-article-list li:last-child a {
  color: rgb(153,51,51);
  &:hover {
    color: rgb(102,102,102);
  }
}
.btf-section-link {
  font-family: $sans-serif;
  text-decoration: none;
}

// List pages
.list-sidebar {
  position: fixed;
  width: 1170px;
  height: 0;
  @include media($desktop) {
    width: 970px;
  }
  @include media($tablet) {
    width: 750px;
    position: relative;
  }
  @include media($mobile) {
    width: auto;
    position: relative;
  }
}
.list-articles {
  @include span-columns(9);
  @include shift(3);
  @include media($tablet) {
    @include span-columns(6);
    @include shift(0);
  }
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
  }
}
.list-sidebar-content {
  @include span-columns(3);
  @include media($tablet) {
    @include span-columns(6);
  }
  @include media($mobile) {
    @include span-columns(4);
  }
}
.list-header {
  font-family: $sans-serif;
  font-size: modular-scale(1);
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(153,51,51);
}
.list-count {
  font-family: $sans-serif;
  font-size: modular-scale(0, 5/4*$modular-scale-base);
  margin: 0 0 modular-scale(-1);
  font-weight: 300;
  color: rgb(153,153,153);
}
.list-article {
  @include row();
  border-top: 1px solid rgb(238,238,238);
  padding: modular-scale(0) 0;
}
.list-article:first-child {
  border-top: 0;
  padding-top: 0;
  @include media($tablet) {
    border-top: 1px solid rgb(204,204,204);
    padding-top: modular-scale(0);
  }
  @include media($mobile) {
    border-top: 1px solid rgb(204,204,204);
    padding-top: modular-scale(0);
  }
}
.list-article .article-info {
  @include span-columns(9);
  @include media($tablet) {
    @include span-columns(6);
    float: none;
  }
  @include media($mobile) {
    @include span-columns(4);
    float: none;
  }
}
.list-article .article-thumbnail {
  @include span-columns(3);
  @include omega();
  float: right;
  margin-top: modular-scale(1);
  @include media($tablet) {
    width: 25%;
    margin: 0 0 0 modular-scale(1);
  }
  @include media($mobile) {
    width: 33%;
    margin: modular-scale(1) 0 0 modular-scale(-1);
  }
}
.list-article .headline {
  font-size: modular-scale(1);
  @include media($mobile) {
    font-size: modular-scale(1, 3/4*$modular-scale-base)
  }
}
.list-article .headline a {
  text-decoration: none;
  color: rgb(0,0,0);
  &:hover {
    color: rgb(102,102,102);
  }
}
.list-article .article-meta {
  margin: modular-scale(-3) 0 modular-scale(-1);
}
.list-article .lede {
  font-family: $serif;
  font-size: modular-scale(1, 1/2*$modular-scale-base);
  line-height: modular-scale(1);
  margin-bottom: 0;
}
.list-article img {
  width: 100%;
}
.list-sidebar .pagination {
  @include media($tablet) {
    display: none;
  }
  @include media($mobile) {
    display: none;
  }
}
.list-articles .pagination {
  display: none;
  @include media($tablet) {
    @include display(flex);
    @include justify-content(center);
  }
  @include media($mobile) {
    @include display(flex);
    @include justify-content(center);
  }
}
.pagination {
  font-family: $sans-serif;
  font-size: modular-scale(0);
  color: rgb(204,204,204);
  overflow: auto;
}
.author-sidebar-content .pagination {
  display: table;
  margin: auto;
}
.pagination span {
  min-width: 30px;
  height: 30px;
  margin-right: 5px;
  float: left;
}
.pagination a {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(153,51,51);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  text-decoration: none;
  &:hover {
    border-color: rgb(102,102,102);
    background: rgb(102,102,102);
    color: rgb(255,255,255);
  }
}
.pagination .inactive {
  color: rgb(204,204,204);
  border-color: rgb(204,204,204);
  cursor: default;
  &:hover {
    background: transparent;
    color: rgb(204,204,204);
  }
}
.pagination .current,
.pagination .gap {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}
.pagination .current {
  background-color: rgb(153,51,51);
  color: rgb(255,255,255);
}
.list-empty {
  @include shift(-3);
  display: block;
  text-align: center;
  font-family: $sans-serif;
  font-weight: 300;
  color: rgb(102,102,102);
  margin-top: 30vh;
  @include media($tablet) {
    @include shift(0);
    margin-top: 25vh;
  }
  @include media($mobile) {
    @include shift(0);
    margin-top: 25vh;
  }
}
.author-sidebar-content {
  text-align: center;
  @include media($tablet) {
    @include span-columns(4);
    @include shift(1);
    margin-bottom: modular-scale(1);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
  @include media($mobile) {
    margin-bottom: modular-scale(1);
  }
}
.author-portrait {
  width: 50%;
  border-radius: 300px;
  margin-bottom: modular-scale(0);
  @include media($tablet) {
    width: 75%;
    margin-right: modular-scale(1);
    margin-bottom: 0;
    float: left;
  }
}
.author-name {
  font-family: $sans-serif;
  font-size: modular-scale(0, 5/4*$modular-scale-base);
  margin: 0;
  margin-bottom: 20px;
  color: rgb(0,0,0);
  text-transform: none;
}
.author-bio {
  font-family: $serif;
  font-size: modular-scale(0, 3/4*$modular-scale-base);
  line-height: modular-scale(1);
  margin-top: modular-scale(1, 3/4*$modular-scale-base);
  @include media($mobile) {
    font-size: modular-scale(0);
  }
}
.author-social a {
  font-family: $sans-serif;
  font-size: modular-scale(0, 3/4*$modular-scale-base);
  text-decoration: none;
  @include media($mobile) {
    font-size: modular-scale(0);
  }
  &:hover {
    color: rgb(102,102,102);
  }
}
.author-social a:nth-child(2) {
  margin-left: modular-scale(0);
}
.author-social a:first-child i {
  color: rgb(51,51,51);
  margin-right: modular-scale(-3);
}
.author-social a:nth-child(2) i {
  color: rgb(85,172,238);
}
.error-msg {
  display: block;
  text-align: center;
  margin-top: 15vh;
  @include media($tablet) {
    @include shift(0);
    margin-top: 10vh;
  }
  @include media($mobile) {
    @include shift(0);
    margin-top: 10vh;
  }
}
.error-code,
.error-back {
  font-family: $sans-serif;
  font-weight: 300;
}
.error-code {
  color: rgb(51,51,51);
  margin-bottom: modular-scale(-3);
}
.error-back {
  color: rgb(102,102,102);
  margin-top: modular-scale(-3);
}
.error-back a {
  text-decoration: none;
  border-bottom: 1px dotted rgb(153,153,153);
  &:hover {
    color: rgb(102,102,102);
  }
}

#legacy_comments {
  font-family: Merriweather, Georgia, serif;

  .comment-count {
    color: rgb(63, 69, 73);
    display: block;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    padding: 15px 0;
    border-bottom: 2px solid rgb(153, 51, 51);

    span {
      padding-left: 10px;
    }
  }

  .legacy-comment {
    .index {
      height: 60px;
      line-height: 60px;
      font-size: 50px;
      color: rgb(153, 51, 51);
      text-align: center;
      margin-right: 10px;
      margin-left: 20px;
      margin-bottom: 10px;
      float: right;
    }

    .content {
      .author-name {
        color: rgb(153, 51, 51);
        font-size: 1em;
        font-weight: bold;
      }

      .publish-time {
        font-size: 1em;
        color: #888;
        margin-left: 5px;
      }

      p {
        margin-left: 0;
        font-size: 1em;
        margin: 15px 0;
        width: 100%;
        line-height: 1.65em;

        a {
          text-decoration: none;
        }
      }

      padding-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }

    &:first-child {
      margin-top: 25px;
    }

    &:last-child {
      border-bottom: none;
    }

    border-bottom: 2px solid #ddd;

    padding-bottom: 20px;
    margin: 35px 0;
    overflow: hidden;
  }

  width: 100%;
  display: block;
  margin-top: 150px;
  box-sizing: content-box;
}

#below_fold_preview_container {
  @include outer-container;
}

// Ads

.ad-homepage-top, .ad-homepage-bottom {
  width: 80%;
  margin-left: 10%;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.ad-homepage-section, .ad-homepage-opinion, .ad-homepage-arts, .ad-homepage-sports {
  margin-top: 10px;
  width: 100%;
}

.ad-piece-left {
  margin-top: 20px;
  width: 100%;
}

.ad-piece-right {
  @include span-columns(2 of 12);
  float: right;
}

// Image search


.frontend_pieces_image_search {
  .pagination-wrap {
    text-align: center;
    margin-top: 30px;

    .pagination {
      display: inline-block;
    }
  }

  .image-search-topbar {
    margin-bottom: 50px;

    p {
      text-align: center;
      font-family: $sans-serif;
      font-size: 30px;
      font-weight: 300;

      .matching {
        color: #aaa;
      }
    }
  }
}

.search-toggle-bar {
  .search-toggle-wrap {
    text-align: center;

    span {
      font-family: $sans-serif;
      font-size: 20px;
      font-weight: 300;

      &.divider {
        padding-left: 10px;
        padding-right: 10px;
      }

      &.active {
        a {
          color: #aaa;
        }
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.frontend_pieces_search {
  .search-toggle-bar {
    margin-bottom: 30px;
  }
}

.lb-caption {
  font-family: $serif !important;
  font-size: 12px !important;
  line-height: 1.2em !important;
}

.lb-dataContainer {
  padding-top: 10px !important;
}

.lightboxOverlay {
  opacity: 0.9 !important;
}

[data-ads] {
  display: none;
}