.module:hover {
  border: 1px solid red;
}

.module {
  min-height: 50px;

  &:not(:hover) {
    .new-submodule-toolbar {
      display: none;
    }
  }

  :hover {
    .new-submodule-toolbar {
      display: block;
    }
  }
}

.submodule {
  &:not(:hover) {
    .editing-toolbar {
      display: none;
    }
  }

  &:hover {
    .editing-toolbar {
      display: block;
    }

    border: 1px solid black;
  }
}

.row {
  &:not(:hover) {
    .row-editing-toolbar {
      display: none;
    }
  }

  &:hover {
    .row-editing-toolbar {
      display: block;
    }

    border: 1px solid green;
  }

  .row-editing-toolbar {
    width: 100%;
  }
}

.editing-toolbar, .row-editing-toolbar {
  a {
    float: right;
    color: rgb(153,51,51);
    text-decoration: none;
    font-size: 15px;
  }

  overflow: auto;
  margin-bottom: 3px;
  margin-top: 2px;
  margin-right: 5px;
}

.new-submodule-toolbar {
  a {
    font-size: 15px;
    text-decoration: none;
  }

  &:hover {
    border: 1px solid black;
  }

  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
}

.new-submodule-form {
  &:hover {
    border: 1px solid black;
  }

  select, input {
    width: 100%;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  margin-top: 10px;

  padding: 10px;
}

.new-row-form {
  &:hover {
    border: 1px solid green;
  }

  select, input {
    display: block;
    width: 60%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }

  margin-top: 10px;
  padding: 10px;
}

.master-editing-toolbar {
  &:not(:hover) {
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }

  a {
    float: right;
    margin-right: 15px;
    text-decoration: none;
  }

  .flash {
    float: right;
    margin-right: 15px;

    &.success {
      color: green;
    }

    &.warning {
      color: red;
    }
  }

  padding-bottom: 20px;
  overflow: auto;
}

.new-row-toolbar {
  &:not(:hover) {
    opacity: 0;
  }

  &:hover {
    opacity: 1;
    border: 1px solid green;
  }

  a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 20px 0;
    width: 100%;
  }
}