@import "variables";

.photographer-topbar {
  @include outer-container();

  margin-top: 50px;
  margin-bottom: 50px;

  @include media($mobile) {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .portrait-container {
    @include span-columns(2 of 12);

    @include media($tablet) {
      @include span-columns(4 of 12);
    }

    @include media($mobile) {
      @include span-columns(12 of 12);
    }
  }

  .info-container {
    @include span-columns(10 of 12);

    @include media($tablet) {
      @include span-columns(8 of 12);

      padding-left: 20px;
    }

    @include media($mobile) {
      @include span-columns(12 of 12);
    }
  }

  .portrait {
    width: 100%;
    border-radius: 300px;
    margin-bottom: modular-scale(0);

    @include media($mobile) {
      width: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .name {
    font-family: $sans-serif;
    margin-top: 0;
    font-size: 40px;
    font-weight: 500;

    display: inline;
  }

  .count {
    font-family: $sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #aaa;
    margin-left: 10px;
  }

  .bio {
    font-family: $sans-serif;
    font-weight: 300;
    margin-top: 7px;
    margin-bottom: 0;

    &:nth-of-type(1) {
      margin-top: 15px;
    }
  }
}

.list-images {
  @include outer-container();

  .list-image {
    @include span-columns(3 of 12);
    @include omega(4n);

    @include media($tablet) {
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    @include media($mobile) {
      @include span-columns(12 of 12);
      @include omega(n);
    }

    position: relative;
    margin-bottom: 20px;

    img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .caption-box {
      opacity: 0;
      width: 100%;
      height: 100%;

      &:hover {
        opacity: 1;
      }
    }

    .caption-overlay {
      position: relative;
      width: 100%;
      opacity: 0.8;
    }

    .caption {
      color: white;
      width: 100%;
      height: 190px;
      left: 0;
      top: 0;
      overflow: hidden;
    }

    .caption, .attribution {
      font-family: $sans-serif;
      font-weight: 300;
      position: absolute;
      padding: 30px;
    }

    .attribution {
      bottom: 0;
      color: #ccc;
      text-align: right;
      width: 100%;
    }
  }

  .list-empty {
    margin: 0 auto;
    text-align: center;
  }
}

.issue-articles .list-images {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
}

.issue-articles .list-images .list-image {
  @include span-columns(4 of 12);
  @include omega-reset (4n);
  @include omega (3n);

  @include media($tablet) {
    @include omega-reset (3n);
    @include omega (2n);
    @include span-columns(6 of 12);
  }

  @include media($mobile) {
    @include omega-reset (3n);
    @include omega (n);
    @include span-columns(12 of 12);
  }
}