@import "variables";

.photographer-topbar {
  @include outer-container();

  margin-top: 50px;
  margin-bottom: 50px;

  .portrait-container {
    @include span-columns(2 of 12);
  }

  .info-container {
    @include span-columns(10 of 12);
  }

  .portrait {
    width: 100%;
    border-radius: 300px;
    margin-bottom: modular-scale(0);
    @include media($tablet) {
      width: 75%;
      margin-right: modular-scale(1);
      margin-bottom: 0;
      float: left;
    }
  }

  .name {
    font-family: $sans-serif;
    margin-top: 0;
    font-size: 40px;
    font-weight: 500;

    display: inline;
  }

  .count {
    font-family: $sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #aaa;
    margin-left: 10px;
  }

  .bio {
    font-family: $sans-serif;
    font-weight: 300;
    margin-top: 7px;
    margin-bottom: 0;

    &:nth-of-type(1) {
      margin-top: 15px;
    }
  }
}

.list-images {
  @include outer-container();

  .list-image {
    @include span-columns(3 of 12);
    @include omega(4n);

    position: relative;
    margin-bottom: 20px;

    img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .caption-box {
      opacity: 0;
      width: 100%;
      height: 100%;

      &:hover {
        opacity: 1;
      }
    }

    .caption-overlay {
      position: relative;
      width: 100%;
      opacity: 0.8;
    }

    .caption {
      color: white;
      width: 100%;
      height: 190px;
      left: 0;
      top: 0;
      overflow: hidden;
    }

    .caption, .attribution {
      font-family: $sans-serif;
      font-weight: 300;
      position: absolute;
      padding: 30px;
    }

    .attribution {
      bottom: 0;
      color: #ccc;
      text-align: right;
      width: 100%;
    }
  }

  .list-empty {
    margin: 0 auto;
    text-align: center;
  }
}