.module {
  min-height: 50px;

  &:not(:hover) {
    .new-submodule-toolbar {
      display: none;
    }
  }

  :hover {
    .new-submodule-toolbar {
      display: block;
    }
  }
}

.submodule {
  &:not(:hover) {
    .editing-toolbar {
      display: none;
    }
  }

  &:hover {
    .editing-toolbar {
      display: block;
    }
  }
}

.row {
  &:not(:hover) {
    .row-editing-toolbar {
      display: none;
    }
  }

  &:hover {
    .row-editing-toolbar {
      display: block;
    }
  }

  .row-editing-toolbar {
    width: 100%;
  }
}

.editing-toolbar, .row-editing-toolbar {
  a {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }

  position: absolute;
  overflow: auto;
  margin-bottom: 3px;
  background-color: rgb(153,51,51);
  padding: 2px 5px;
  width: 100%;
  z-index: 100;
}

.editing-toolbar {
  a {
    display: block;
    text-align: center;
  }

  top: 0;
  right: 0;
}

.row-editing-toolbar {
  a {
    display: block;
    text-align: center;
  }

  top: -21px;
  right: 0;
}

.new-submodule-toolbar {
  a {
    font-size: 15px;
    text-decoration: none;
    color: white;
  }

  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  background-color: rgb(153,51,51);
}

.new-submodule-form {
  select, input {
    width: 100%;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  margin-top: 10px;

  padding: 10px;
}

.new-row-form {
  select, input {
    display: block;
    width: 60%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }

  margin-top: 10px;
  padding: 10px;
}

.master-editing-toolbar {
  &:not(:hover) {
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }

  a {
    float: right;
    margin-right: 15px;
    text-decoration: none;
  }

  .flash {
    float: right;
    margin-right: 15px;

    &.success {
      color: green;
    }

    &.warning {
      color: red;
    }
  }

  padding-bottom: 20px;
  overflow: auto;
}

.new-row-toolbar {
  &:not(:hover) {
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }

  a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    color: white;
  }

  background-color: rgb(153,51,51);
}


.submodule, .row {
  position: relative;
}
