/*
 *= require_self
 */

@import "variables";

.static-pages-nav {
  @include span-columns(3);

  ul {
    li {
      a {
        font-family: $sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 700;
        color: black;
        text-decoration: none;
        padding-left: 10px;
        padding-bottom: 2px;

        &.active {
          color: rgb(153,51,51);
          border-left: 3px solid rgb(153,51,51);
          position: relative;
          left: -3px;
        }

        &:hover {
          color: rgb(102, 102, 102);
        }
      }

      list-style-type: none;
      margin-bottom: 4px;
    }
  }
}

.static-pages-content {
  @include span-columns(6);
  font-family: $sans-serif;

  p, li, blockquote {
    font-family: $serif;
    line-height: modular-scale(1);
  }
  blockquote {
    font-family: $sans-serif;
  }
  h1 {
    font-family: $sans-serif;
    font-size: modular-scale(2);
    font-weight: 500;
  }
  h2 {
    font-family: $sans-serif;
    font-size: modular-scale(1);
    font-weight: 500;
  }
  h3 {
    font-family: $sans-serif;
    font-size: modular-scale(1, 3/4*$modular-scale-base);
    font-weight: 300;
    font-style: italic;
  }
  a {
    text-decoration: none;
    border-bottom: 1px dotted rgb(153,153,153);
    &:hover {
      color: rgb(0,0,0);
    }
  }
  .button {
    font-family: $serif;
    font-weight: bold;
    font-size: modular-scale(2);
    font-style: italic;
  }

  /* CSS for The Tech's Masthead */

  /* I know the following is kind of weird and doesn't match with the rest of the site, 
     but I just copied this over from our current site
     and I think it's good enough for now --leonxlin */

  div.exec { 
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
   
  div.exec h2 {
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 0;
  }
   
  div.department {
    margin-top: 1em;
    margin-bottom: 1em;
  }
   
  div.department h2 {
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 0;
    border-bottom-width: thin; 
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
   
  div.department div {
    margin-top: 0.25em;
    text-align: justify;
  }

  /* CSS for the publication calendar */

  .embedded-calendar-container {
    float: right;
    width: 30%;
    padding: 1em 2em;
  }

  .embedded-calendar-container .calendar {
    width: 350%;
  }

  .calendar {
    border-collapse: separate;
    text-align: center;
  }

  .issue {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
  }
  .issuekey {
    color: rgb(102, 102, 102);
  }
  .special {
    background-color: rgb(153, 102, 102);
    color: rgb(255, 255, 255);
  }
  .specialkey {
    color: rgb(153, 102, 102);
  }


}


