#images_show {
  #assigned_pieces {
    margin-top: 30px;
  }

  img {
    float: right;
    width: 100%;
    margin-top: 20px;
  }
}

#images_new, #images_create {
  .bootstrap-tagsinput {
    width: 100% !important;
  }
}