#images_show {
  #assigned_pieces {
    margin-top: 30px;
  }

  .upload_pictures_form {
    display: inline;

    input {
      display: inline;
    }
  }

  img {
    float: right;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

#images_new, #images_create, #images_edit, #images_update {
  .bootstrap-tagsinput {
    width: 100% !important;
  }
}

/* Pretty file upload buttons courtesy of http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.center {
  text-align: center;
}

#images_index, #issues_show {
  p {
    margin-bottom: 5px;
  }

  .slug {
    font-weight: bold;
  }

  .attribution {
    color: #aaa;
  }
}