.titleline {
  h1 {
    display: inline;
  }

  .btn {
    float: right;
    display: inline;
    margin-left: 10px;
  }

  margin: 20px 0;
}

.articles-table td.action, .images-table td.action {
  padding-left: 4px;
  padding-right: 4px;

  text-align: center;
}
