.titleline {
  h1 {
    display: inline;
  }

  .btn {
    float: right;
    display: inline;
    margin-left: 10px;
  }

  margin: 20px 0;
}

.articles-table td.action, .images-table td.action {
  padding-left: 4px;
  padding-right: 4px;

  text-align: right;
}

.articles-table td.action .btn, .images-table td.action .btn {
  margin-bottom: 6px;
  width: 100px
}

.not-ready .btn {
  background-color: #fff;
  color: #000;
}

.articles-table .statuses, .images-table .statuses {
  font-size: 14px;
}

.articles-table .statuses .label, .images-table .statuses .label {
  display: inline-block;
  width: 100px;
  line-height: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}