<header class="nameplate">
  <%= image_tag 'nameplate-logo.png', alt: 'The Tech', class: 'nameplate-logo' %>
  <nav class="nameplate-nav">
    <div class="nameplate-top">
      <h1>The Tech</h1>
      <ul>
        <li><%= Date.today.strftime('%B %-d, %Y') %></li>
        <% Issue.all.each do |i| %>
          <% unless i.pdf_updated_at.nil? %>
            <li><a href="<%= i.pdf.url %>">This Week's Issue<%= icon('newspaper-o', '', class: 'fa-fw') %></a></li>
            <% break %>
          <% end %>
        <% end %>
        </li>
        <li id="weather_info">Weather loading... </li>
      </ul>
    </div>
    <div class="nameplate-bottom">
      <ul>
        <li><a href="/news">News</a></li>
        <li><a href="/opinion">Opinion</a></li>
        <li><a href="/arts">Arts</a></li>
        <li><a href="/sports">Sports</a></li>
        <li><a href="/campus-life">Campus Life</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/ads">Advertising</a></li>
        <li><a href="/about/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</header>