<% @homepage.layout.each do |row| %>
  <div class="row">
    <% row.each do |m| %>
      <% if m[:modules].length == 1 %>
        <%= render partial: 'modules/single', locals: m %>
      <% else %>
        <%= render partial: 'modules/multi', locals: m %>
      <% end %>
    <% end %>
  </div>
<% end %>