- likely_authors = (Author.recent_photographers.to_a + Author.new_authors.to_a).sort_by(&:name)

- images.each do |i|
  = render i, mark_print_status: local_assigns[:mark_print_status], likely_authors: likely_authors