<div class="titleline">
  <h1>Editing Image</h1>
  <%= link_to images_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
</div>

<%= render 'form' %>

