.titleline
  %h1 Images
  = link_to new_image_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Image

%table#images_table.table
  %thead
    %tr
      %th.center Publish Ready?
      %th Image
      %th{:colspan => "2"}
      %th.center.image_thumbnail_header Thumbnail
    %tr
      %td{:colspan => "5"}
        = form_tag images_path, method: :get, remote: true do
          %input#keywords.form-control{:name => "q", :placeholder => "Filter by caption or attribution. ", :type => "text"}/
  %tbody
    = render 'images/image_list', images: @images
