<footer>
  <div class="footer-content">
    <div class="footer-contact">
      <a href="/"><%= image_tag 'footer-logo-light.png', alt: 'The Tech', class: 'footer-logo' %></a>
      <ul>
        <li>The Tech</li>
        <li>84 Massachusetts Ave, Suite 483</li>
        <li>Cambridge, MA 02139-4300</li>
        <li>617.253.1541</li>
      </ul>
    </div>
    <div class="footer-sections">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Opinion</a></li>
        <li><a href="#">Arts</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Campus Life</a></li>
      </ul>
    </div>
    <div class="footer-static">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Policies</a></li>
        <li><a href="#">Advertising</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Our Staff</a></li>
        <li><a href="#">Join The Tech</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">RSS</a></li>
        <li>&nbsp;</li>
        <li>&copy; <%= Time.now.year %> The Tech</li>
      </ul>
    </div>
  </div>
</footer>