<nav class="sidenav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/opinion">Opinion</a></li>
    <li><a href="/arts">Arts</a></li>
    <li><a href="/sports">Sports</a></li>
    <li><a href="/campus-life">Campus Life</a></li>
    <li class="separator"></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Policies</a></li>
    <li><a href="#">Advertising</a></li>
    <li><a href="#">Donate</a></li>
    <li><a href="#">Our Staff</a></li>
    <li><a href="#">Join The Tech</a></li>
    <li class="separator"></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="//www.facebook.com/themittech">Facebook</a></li>
    <li><a href="//www.twitter.com/thetech">Twitter</a></li>
    <li><a href="#">RSS</a></li>
  </ul>
  <%= form_tag '/search', method: :get, name: 'search' do %>
    <input name="query" class="sidenav-search" type="search" placeholder="Search"></input>
  <% end %>
</nav>