<nav class="sidenav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Opinion</a></li>
    <li><a href="#">Arts</a></li>
    <li><a href="#">Sports</a></li>
    <li><a href="#">Campus Life</a></li>
    <li class="separator"></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Policies</a></li>
    <li><a href="#">Advertising</a></li>
    <li><a href="#">Donate</a></li>
    <li><a href="#">Our Staff</a></li>
    <li><a href="#">Join The Tech</a></li>
    <li class="separator"></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">RSS</a></li>
    <li class="separator"></li>
    <li>
      <%= form_tag '/', method: :get, id: 'search_form' do %>
        <input name="query" class="sidenav-search" type="search" placeholder="Search our archives"></input>
      <% end %>
    </li>
  </ul>
</nav>