<nav class="sidenav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sections/news">News</a></li>
    <li><a href="/sections/opinion">Opinion</a></li>
    <li><a href="/sections/arts">Arts</a></li>
    <li><a href="/sections/sports">Sports</a></li>
    <li><a href="/sections/campus-life">Campus Life</a></li>
    <li class="separator"></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/about/index#policies">Policies</a></li>
    <li><a href="/ads">Advertising</a></li>
    <li><a href="/about/donate">Donate</a></li>
    <li><a href="/about/staff">Our Staff</a></li>
    <li><a href="/about/join">Join The Tech</a></li>
    <li class="separator"></li>
    <li><a href="/about/contact">Contact Us</a></li>
    <li><a href="//www.facebook.com/themittech">Facebook</a></li>
    <li><a href="//www.twitter.com/thetech">Twitter</a></li>
    <li><a href="#">RSS</a></li>
    <li class="separator"></li>
    <li>
      <%= form_tag '/search', method: :get, name: 'search' do %>
        <input name="query" class="sidenav-search" type="search" placeholder="Search our archives"></input>
      <% end %>
    </li>
  </ul>
</nav>